@model DiamondLuxurySolution.ViewModel.Models.Platform.CreatePlatformRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>CreatePlatformRequest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" asp-controller="Platform" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlatformName" class="control-label"></label>
                <input name="PlatformName" class="form-control" value="@Html.Encode(Model.PlatformName)" />

                <span asp-validation-for="PlatformName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformUrl" class="control-label"></label>
                <input asp-for="PlatformUrl" class="form-control" />
                <span asp-validation-for="PlatformUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformLogo" class="control-label"></label>
                <input asp-for="PlatformLogo" class="form-control" type="file" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
