@model DiamondLuxurySolution.ViewModel.Models.Platform.PlatfromVm

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-controller="Platform" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PlatformId" class="control-label"></label>
                <input asp-for="PlatformId" class="form-control" readonly />
            </div>
            <div class="form-group">
                <label asp-for="PlatformName" class="control-label">Tên nền tảng</label>
                <input asp-for="PlatformName" class="form-control" />
                <span asp-validation-for="PlatformName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformUrl" class="control-label">Nền tảng Url</label>
                <input asp-for="PlatformUrl" class="form-control" />
                <span asp-validation-for="PlatformUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PlatformLogo" class="control-label">Logo</label>
                @if (string.IsNullOrEmpty(Model.PlatformLogo))
                {
                    <div>Không có hình ảnh</div>
                }
                else
                {
                    <td>
                        <img src="@Model.PlatformLogo" style="height:100px; width:100px" />
                    </td>
                }

            </div>
            <div class="form-group">
                <label class="control-label">Thay hình mới</label>
                <input asp-for="PlatformLogo" class="form-control" type="file" />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Status" /> Hiển thị
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Lưu" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Về trang quản lí nền tảng</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
