/*****************************
23. Slider CSS
*****************************/

.homepage-slider{
	@extend %posrelative;
	.single-slider{
		height: 63rem;
		background-repeat: no-repeat;
		background-size: cover;
		background-attachment: scroll;
		background-position: center;
		@include breakpoint(medium){
			height: 50rem;
		}
		@include breakpoint(small){
			height: 40rem;
		}
		@include breakpoint(xsmall){
			height: 35rem;
		}
		&.content-v-center{
			@include flexbox;
			@include align-items(center);
		}
		&.full-height{
			height: calc(100vh - 51px);
			@include breakpoint(medium){
				height: 50rem;
			}
			@include breakpoint(small){
				height: 45rem;
			}
			@include breakpoint(xsmall){
				height: 40rem;
			}
		}
		.slider-content{
			h5{
				font-weight: 300;
				@extend %primary-color;
				font-size: 1.6rem;
				font-family: $body-font;
			}
			h1{
			    font-size: 6rem;
			    color: #fff;
			    font-weight: 400;
			    text-transform: capitalize;
			    margin-bottom: 3px;
			    margin-top: 0;
			    @include breakpoint(large){
			    	font-size: 5rem;
			    }
			    @include breakpoint(small){
			    	font-size: 4rem;
			    }
			    @include breakpoint(xsmall){
			    	font-size: 2.5rem;
			    }
			}
			p{
			    font-size: 1.6rem;
			    color: $body-color-2;
			    text-transform: capitalize;
			    font-weight: 300;
			    line-height: 2.4rem;
			    max-width: 60rem;
				strong{
					@extend %primary-color;
					font-weight: 500;
					font-size: 3rem;
					padding-left: 1rem;
					@include breakpoint(xsmall){
						font-size: 2.5rem;
					}
				}
				@include breakpoint(xsmall){
					font-size: 1.5rem;
				}
			}

		}
	}
	.slick{
		&-btn{
			@extend %posabsolute;
			@include textBoxCenter(65);
			@include border-radius(50%);
			color: $body-color;
			font-size: 1.5rem;
			background-color: $color-dark-3;
			top: 50%;
			@include transform(translateY(-50%));
			z-index: 9;
			cursor: pointer;
			@include transition(all .3s ease);
			@extend %invisible;
			&:hover{
				@extend %primary-bg-color;
				color: #fff;
			}
			@include breakpoint(xsmall){
				@include textBoxCenter(45);
			}
		}
		&-prev{
			left: 7rem;
			@include breakpoint(xlarge){
				left: 2rem;
			}
			@include breakpoint(small){
				left: 0;
			}
		}
		&-next{
			right: 7rem;
			@include breakpoint(xlarge){
				right: 2rem;
			}
			@include breakpoint(small){
				right: 0;
			}
		}
		&-dots{
			@extend %posabsolute;
			left: 50%;
			@include transform(translateX(-50%));
			bottom: 2rem;
			li{
				display: inline-block;
				margin: 5px;
				&.slick-active{
					button{ 
						&:before{
							@include transform(scale(1.8));
							@extend %primary-bg-color;
						}
					}
				}
				button{
					font-size: 0;
					line-height: 0;
					display: block;
					width: 8px;
					height: 8px;
					padding: 5px;
					cursor: pointer;
					color: transparent;
					border: 0;
					outline: none;
					background: transparent;
					@extend %posrelative;
					&:before{
						@extend %posabsolute;
						content: '';
						top: 0;
						left: 0;
						width: 8px;
						height: 8px;
						text-align: center;
						@include border-radius(50%);
						background-color: $color-shaft-light;
						@include transform(scale(1));
						@extend %basetransition;
					}
					&:hover{
						&:before{
							@include transform(scale(1.8));
							@extend %primary-bg-color;
						}
					}
				}
			}
		}
	}
	&:hover{
		.slick-btn{
			@extend %visible;
		}
	}
}

.static-slider{
	.single-static-slide{
		@extend %posrelative;
		&.slick-active{
			&:not(:last-child){
				.static-slide-image{
					border-right: 1px solid $border-color;
					@include breakpoint(xsmall){
						border-right: 0;
					}
					&:before{
						border-right: 1px solid $border-color;
						@include breakpoint(xsmall){
							border-right: 0;
						}
					}
				}
			}
		}
		.static-slide-image{
			@extend %posrelative;
			&:before{
				@extend %pseudo;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgba($color-black, .5);
				@include transition(all .5s ease);
				@extend %invisible;
				z-index: 1;
			}
			a{
				display: block;
				text-align: center;
			}
			img{
				@include transition(all .5s ease);
				margin: 0 auto;
			}
		}
		.static-slide-text{
			@extend %posabsolute;
			left: 0;
			bottom: 5rem;
			width: 100%;
			text-align: center;
			z-index: 2;
			p{
				@extend %primary-color;
				margin-bottom: .5rem;
			}
			h1{
				font-size: 3rem;
				text-transform: capitalize;
				margin-bottom: 3.5rem;
				a{
					text-decoration: none;
				}
				@include breakpoint(xsmall){
					font-size: 2.5rem;
					margin-bottom: 3rem;
				}
			}
			a{
				@extend %body-color;
				text-decoration: underline;
				display: inline-block;
			}
		}
		&:hover{
			.static-slide-image{
				&:before{
					@extend %visible;
				}
				img{
					@include transform(scale3d(1.05, 1.05, 1.05));
				}
			}
			.static-slide-text{
				p{
					@include animation(fadeInUp 400ms ease-in-out);
				}
				h1{
					@include animation(fadeInUp 600ms ease-in-out);
				}
				a{
					@include animation(fadeInUp 800ms ease-in-out);
				}
			}
		}
	}
}
