@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!-- Main Wrapper Start -->
<div class="main-content-wrapper" style="background-color: black;">
    <div class="login-register-area">
        <div class="login-container">
            <form class="login-form" asp-action="ChangePassword" asp-controller="Account" method="post">
                <p class="heading">Đổi mật khẩu</p>

                <br>

                <div class="input-group">
                    <input required="" placeholder="Mật khẩu mới" name="NewPassword" id="username" type="password" />
                </div>

                <div class="input-group">
                    <input required="" name="ConfirmPassword" placeholder="Nhập lại mật khẩu" id="username" type="password" />
                </div>
                @if (ViewBag.Errors != null)
                {
                    foreach (var error in ViewBag.Errors)
                    {
                        <h5 style="color:red !important" class="text-danger">@error</h5>
                    }
                }
                <br>
                <button type="submit">Đổi mật khẩu</button>
            </form>
        </div>
    </div>
</div>
<!-- Main Wrapper End -->