
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Main Wrapper Start -->
<div class="main-content-wrapper" style="background-color: black;">
    <div class="login-register-area">
        <div class="login-container">
            <form class="login-form" asp-action="ForgotPassword" asp-controller="Account" method="post">
                <p class="heading">Quên mật khẩu</p>
                @if (ViewBag.Errors != null)
                {
                    foreach (var error in ViewBag.Errors)
                    {
                        <h4 style="color:red !important" class="text-danger">@error</h4>
                    }
                }
                <br>
                @if (string.IsNullOrEmpty(ViewBag.Email))
                {
                    <div class="input-group">
                        <input required="" placeholder="Email" name="Email" id="username" type="text" />
                    </div>
                }
                else
                {
                    <div class="input-group">
                        <input required="" value="@ViewBag.Email" name="Email" placeholder="Email" id="username" type="text" />
                    </div>
                }
                
                <br>
                <button type="submit">Gửi mã xác thực   </button>
            </form> 
        </div>
    </div>
</div>
<!-- Main Wrapper End -->