@model DiamondLuxurySolution.ViewModel.Models.User.Customer.RegisterCustomerAccountRequest

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section StyleCss {
    <link href="../mycss/mycheckbox.css" rel="stylesheet" />
}
<div class="header-bottom header-top-1 position-relative navigation-wrap fixed-header">
    <div class="container position-static">
        <div class="row">
            <div class="col-12 position-static">
                <nav class="main-navigation">
                    <ul class="mainmenu col-12">
                        <li class="mainmenu__item active">
                            <a href="/Home/Index" class="mainmenu__link" style="color: white;">Trang Chủ</a>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="#" class="mainmenu__link">Kim Cương</a>
                            <ul class="sub-menu">
                                <li><a href="#">Kim Cương Tự Nhiên</a></li>
                                <li><a href="#">Kim Cương Nhân Tạo</a></li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children">
                            <a href="/DiamondJewelry/Index" class="mainmenu__link">Trang Sức Kim Cương</a>
                            <ul class="megamenu three-column">
                                <li>
                                    <a class="megamenu-title" href="NhanKimCuong.html">Nhẫn Kim Cương</a>
                                    <ul>
                                        <li>
                                            <a href="NhanKimCuongNam.html">Nhẫn Kim Cương Nam</a>
                                        </li>
                                        <li>
                                            <a href="NhanKimCuongNu.html">Nhẫn Kim Cương Nữ</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="VongTayKimCuong.html">
                                        Vòng Tay Kim
                                        Cương
                                    </a>
                                    <a class="megamenu-title" href="LacTayKimCuong copy.html">
                                        Lắc Tay Kim
                                        Cương
                                    </a>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="HoaTayKimCuong.html">
                                        Hoa Tai Kim
                                        Cương
                                    </a>
                                    <a class="megamenu-title" href="MatDayChuyenKimCuong.html">
                                        Mặt Dây
                                        Chuyền KC
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children">
                            <a href="trangsuccuoi.html" class="mainmenu__link">Trang Sức Cưới</a>
                            <ul class="megamenu">
                                <li>
                                    <a class="megamenu-title" href="nhanCuoiKimCuong.html">
                                        Nhẫn Cưới Kim
                                        Cương
                                    </a>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="nhanKCcauhon.html">
                                        Nhẫn Kim Cương Cầu
                                        Hôn
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="BoSuuTap.html" class="mainmenu__link">Bộ Sưu Tập</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children has-children">
                                    <a href="BoSuuTapQuyOng.html">BST Quý Ông</a>
                                    <ul class="sub-menu">
                                        <li><a href="DangCapUyQuyen.html">Đẳng Cấp & Uy Quyền</a></li>
                                        <li><a href="SangTrongBanLinh.html">Sang Trọng Và Bản Lĩnh</a></li>
                                        <li>
                                            <a href="PhongThuyThanhCong.html">Phong Thủy Và Thành Công</a>
                                        </li>
                                        <li>
                                            <a href="PhongCachThoiTrang.html">Phong Cách Và Thời Trang</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapNhanCuoi.html">BST Nhẫn Cưới</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapNhanCauHon.html">BST Nhẫn Cầu Hôn</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapDayChuyen.html">BST Dây Chuyền</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapKimCuong.html">BST Kim Cương</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapBanChayNhat.html">BST Bán Chạy Nhất</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item">
                            <a href="/TablePrice/Index" class="mainmenu__link">Bảng Giá Kim Cương</a>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a class="mainmenu__link" href="#">Kiến Thức</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="kienthuckimcuong.html">Kiến Thức Kim Cương</a>
                                </li>
                                <li class="menu-item">
                                    <a href="kienthuctrangsuc.html">Kiến Thức Trang Sức</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="#">Hướng Dẫn Chọn Ni</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="huongdandovongtay.html">Hướng Dẫn Đo Vòng Tay</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="huongdandoninhan.html">Hướng Dẫn Đo Ni Nhẫn</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="huongdandodaychuyen.html">Hướng Dẫn Đo Dây Chuyền</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="#" class="mainmenu__link">Thông Tin</a>
                            <ul class="sub-menu">
                                <li><a href="ThongTinKhuyenMai.html">Thông Tin Khuyến Mãi</a></li>
                                <li><a href="TinTuc.html">Tin Tức</a></li>
                                <li><a href="CauHoiThuongGap.html">Các Câu Hỏi Thường Gặp</a></li>
                            </ul>
                        </li>
                        <li class="mainmenu__item">
                            <a href="gioithieu.html" class="mainmenu__link">Giới Thiệu</a>
                        </li>
                        <li class="mainmenu__item">
                            <a href="lienhe.html" class="mainmenu__link">Liên Hệ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</div>


<!-- Main Wrapper Start -->
<div class="main-content-wrapper" style="background-color: black;">
    <div class="login-register-area">
        <div class="login-container">
            <form class="login-form" asp-action="Register" asp-controller="Account" method="post">
                <p class="heading">Đăng Ký</p>
                @if (ViewBag.Errors != null)
                {
                    foreach (var error in ViewBag.Errors)
                    {
                        <h3 style="color:red !important" class="text-danger">@error</h3>
                    }
                }
                <br>
                <div class="input-group">
                    <input required="" asp-for="FullName" placeholder="Họ Và Tên" id="username" type="text" />
                </div>
                <div class="input-group">
                    <input required="" asp-for="PhoneNumber" placeholder="Số Điện Thoại" id="username phone=" type="text" />
                </div>
                <div class="input-group">
                    <input required="" asp-for="Email" placeholder="Email" id="username" type="text" />
                </div>
                <div class="input-group">
                    <input required="" asp-for="Dob" placeholder="Ngày Sinh" id="username" type="date" />
                </div>
                <div class="input-group">
                    <input required="" asp-for="Password" placeholder="Mật Khẩu" name="password" id="password" type="password" />
                </div>
                <div class="input-group">
                    <input required="" asp-for="ConfirmPassword" placeholder="Nhập Lại Mật Khẩu" name="ConfirmPassword" id="password" type="password" />
                </div>
                <div>
                    <label class="custom-checkbox">
                        <input id="acceptPolicyCheckbox" name="dummy" type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                    Tôi đồng ý với <a href="DieuKhoanSuDung.html" style="color:#f27575">Điều Khoản Và Điều Kiện</a> của Diamond Luxury</label>
                </div>
                <br>
                <button type="submit" id="registrationForm">Đăng Ký</button>
                <br>
                <div class="bottom-text">
                    <p>Đã Có Tài Khoản? <a href="/Account/Login">Đăng Nhập</a></p>
                    <br>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Main Wrapper End -->
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.login-form').on('submit', function (event) {
                if (!$('#acceptPolicyCheckbox').is(':checked')) {
                    alert('Bạn phải đồng ý với Điều Khoản Và Điều Kiện trước khi đăng ký.');
                    event.preventDefault(); // Prevent form submission
                }
            });
        });
    </script>
}
