@{
    ViewData["Title"] = "VerifyCode";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model string

<!-- Main Wrapper End -->
@section StyleCss {

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/intl-tel-input@23.1.0/build/css/intlTelInput.css">
    <script src="https://cdn.jsdelivr.net/npm/intl-tel-input@23.1.0/build/js/intlTelInput.min.js"></script>
    <link rel="stylesheet" href="~/mycss/otpCss.css">
    <style>
        body {
            background: black
        }

        #NotReceivePassword:hover{
            cursor:pointer;
        }

        .spinner-border {
            width: 1.5rem;
            height: 1.5rem;
            border-width: .2em;
        }
    </style>
}
<form class="login-form" asp-action="VerifyCode" asp-controller="Account" method="post">
    <div class="container d-flex justify-content-center align-items-center" style="margin-bottom: 44px;">
        <div class="position-relative">
            <div class="card p-2 text-center" style="height:340px; ">
                <h6>Xác thực mã</h6>
                <div>
                    <span style="color: grey">Mã xác thực đã được gửi đến</span>
                    <small style="color: red">@Context.Session.GetString("EmailUserSendCode").ToString()</small>
                </div>
                <h7 style=" margin: 10px 0px; font-weight: bold; font-size: 20px; color: #E8BE6F">Nhập mã xác thực: </h7>
                <div id="otp" class="otp-input-fields inputs d-flex flex-row justify-content-center mt-2">
                    <input type="number" class="otp__digit otp__field__1" maxlength="1" >
                    <input type="number" class="otp__digit otp__field__2" maxlength="1">
                    <input type="number" class="otp__digit otp__field__3" maxlength="1">
                    <input type="number" class="otp__digit otp__field__4" maxlength="1">
                    <input type="number" class="otp__digit otp__field__5" maxlength="1">
                    <input type="number" class="otp__digit otp__field__6" maxlength="1">
                </div>
                <input type="hidden" id="codeFinal" name="code" />
                <h4 style="color:red !important" class="text-danger">@ViewBag.Error</h4>
                <div class="mt-4">
                    <button id="SendForgotPassword" class="btn btn-danger px-4 validate">XÁC NHẬN</button>
                </div>
            </div>
            <div class="card-2">
                <div class="content d-flex justify-content-center align-items-center">
                    <span style="color: grey">Bạn chưa nhận được mã?</span> <a id="NotReceivePassword" class="text-decoration-none ms-3" style="text-decoration: underline !important">Gửi lại mã</a>
                    <div id="spinner" class="spinner-border text-primary ms-3" style="display: none;" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.otp__field__1').focus();
            $('.otp__digit').on('input', function () {
                if (this.value.length > 1) {
                    this.value = this.value.slice(0, 1);
                }
                if (this.value.length === 1) {
                    $(this).next('.otp__digit').focus();
                }
            });

            $('.otp__digit').on('keydown', function (e) {
                if ((e.key === 'Backspace' || e.key === 'Delete') && this.value.length === 0) {
                    $(this).prev('.otp__digit').focus();
                }
            });


            $('#SendForgotPassword').click(function () {
                // Collect the OTP code
                var code = '';
                $('.otp__digit').each(function () {
                    code += $(this).val();
                });

                // Set the collected OTP code in the hidden input field
                $('#codeFinal').val(code);

                // Submit the form
                $('.login-form').submit();
            });

            $('#NotReceivePassword').click(function (e) {
                e.preventDefault();
                var email = '@Context.Session.GetString("EmailUserSendCode")';
                // Show the spinner
                $('#spinner').show();

                $.ajax({
                    type: 'POST',
                    url: '/Account/ForgotPassword',
                    data: { Email: email },
                    success: function (response) {
                        alert('Mã xác thực đã được gửi lại thành công!');
                    },
                    error: function (error) {
                        alert('Có lỗi xảy ra, vui lòng thử lại sau.');
                    },
                    complete: function () {
                        // Hide the spinner
                        $('#spinner').hide();
                    }
                });
            });

        });


    </script>
}