@model DiamondLuxurySolution.ViewModel.Models.Slide.CreateSlideRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo mới Slide</h1>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Create" asp-controller="Slide" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="SlideName" class="control-label mb-1"></label>
                <input name="SlideName" class="form-control" />
            </div>
            @if (ViewBag.Errors != null)
            {
                foreach (var error in ViewBag.Errors)
                {
                    <h6 class="text-danger">@error</h6>
                }
            }
            <div class="form-group m-2 ">
                <label asp-for="Description" class="control-label mb-1 mt-3"></label>
                <input type="text" asp-for="Description" class="form-control" />
            </div>
            <div class="form-group m-2 mt-2">
                <label asp-for="SlideImage" class="control-label mb-1 mt-3"></label>
                <input type="file" asp-for="SlideImage" class="form-control" />
            </div>
            <div class="form-group m-2 ">
                <label asp-for="SlideUrl" class="control-label mb-1 mt-3"></label>
                <input type="text" asp-for="SlideUrl" class="form-control" />
            </div>

            <div class="form-check form-switch m-4">
                <label asp-for="Status" class="control-label m-1">Hiển thị</label>
                <input class="form-check-input f-18" type="checkbox" asp-for="Status">
            </div>

            <div class="form-group row">
                <div class="col-md-5">
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                </div>
                <div class="col-md-7 mt-2">
                    <a class="m-6 btn btn-secondary" asp-action="Index">Về trang quản lí Slide</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>

    </script>
}
