@model DiamondLuxurySolution.ViewModel.Models.Slide.SlideViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Chỉnh sửa Slide</h1>
@if (ViewBag.Errors != null)
{
    foreach (var error in ViewBag.Errors)
    {
        <h6 class="text-danger">@error</h6>
    }
}
@if (Model != null)
{
    <div class="row">
        <div class="col-md-6">

            <form asp-action="Edit" asp-controller="Slide" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group m-2">
                    <label asp-for="SlideId" class="control-label  m-2">ID của Slide</label>
                    <input asp-for="SlideId" class="form-control" readonly />
                </div>
                <div class="form-group m-2">
                    <label asp-for="SlideName" class="control-label m-2">Tên Danh Mục</label>
                    <input asp-for="SlideName" class="form-control" />

                    <span asp-validation-for="SlideName" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Description" class="control-label m-2">Mô Tả</label>
                    <input asp-for="Description" class="form-control" />

                </div>
                <div class="form-group m-2">
                    <label class="control-label m-2">Hình ảnh hiện tại</label>
                    @if (string.IsNullOrEmpty(Model.SlideImage) || Model.SlideImage.Length <= 0)
                    {
                        <label style="color:orangered;">Không có hình ảnh</label>
                    }
                    else
                    {
                        <label>
                            <img src="@Model.SlideImage" style="height:100px; width:100px" />
                        </label>
                    }
                </div>



                <div class="form-group m-2">
                    <label asp-for="SlideImage" class="control-label m-2">Thay Hình Ảnh Mới</label>
                    <input asp-for="SlideImage" class="form-control" type="file" />
                </div>
                <div class="form-check form-switch m-4">
                    <label asp-for="Status" class="control-label mt-1">Hiển thị</label>
                    <input class="form-check-input f-20" type="checkbox" asp-for="Status">
                </div>
                <div class="form-group row">
                    <div class="col-md-9">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                    <div class="col-md-3">
                        <a class="m-6 btn btn-secondary" asp-action="Index">Về trang quản lí Slide</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <a class="m-5" asp-action="Index" asp-controller="Category">Về trang quản lí Slide</a>

}
<hr />

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
