@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="header-bottom header-top-1 position-relative navigation-wrap fixed-header">
	<div class="container position-static">
		<div class="row">
			<div class="col-12 position-static">
				<nav class="main-navigation">
					<ul class="mainmenu col-12">
						<li class="mainmenu__item active">
							<a href="/Home/Index" class="mainmenu__link">Trang Chủ</a>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a href="#" class="mainmenu__link">Kim Cương</a>
							<ul class="sub-menu">
								<li><a href="#">Kim Cương Tự Nhiên</a></li>
								<li><a href="#">Kim Cương Nhân Tạo</a></li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children">
							<a href="/DiamondJewelry/Index" class="mainmenu__link">Trang Sức Kim Cương</a>
							<ul class="megamenu three-column">
								<li>
									<a class="megamenu-title" href="NhanKimCuong.html">Nhẫn Kim Cương</a>
									<ul>
										<li>
											<a href="NhanKimCuongNam.html">Nhẫn Kim Cương Nam</a>
										</li>
										<li>
											<a href="NhanKimCuongNu.html">Nhẫn Kim Cương Nữ</a>
										</li>
									</ul>
								</li>
								<li>
									<a class="megamenu-title" href="VongTayKimCuong.html">
										Vòng Tay Kim
										Cương
									</a>
									<a class="megamenu-title" href="LacTayKimCuong copy.html">
										Lắc Tay Kim
										Cương
									</a>
								</li>
								<li>
									<a class="megamenu-title" href="HoaTayKimCuong.html">
										Hoa Tai Kim
										Cương
									</a>
									<a class="megamenu-title" href="MatDayChuyenKimCuong.html">
										Mặt Dây
										Chuyền KC
									</a>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children">
							<a href="trangsuccuoi.html" class="mainmenu__link">Trang Sức Cưới</a>
							<ul class="megamenu">
								<li>
									<a class="megamenu-title" href="nhanCuoiKimCuong.html">
										Nhẫn Cưới Kim
										Cương
									</a>
								</li>
								<li>
									<a class="megamenu-title" href="nhanKCcauhon.html">
										Nhẫn Kim Cương Cầu
										Hôn
									</a>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a href="BoSuuTap.html" class="mainmenu__link">Bộ Sưu Tập</a>
							<ul class="sub-menu">
								<li class="menu-item-has-children has-children">
									<a href="BoSuuTapQuyOng.html">BST Quý Ông</a>
									<ul class="sub-menu">
										<li><a href="DangCapUyQuyen.html">Đẳng Cấp & Uy Quyền</a></li>
										<li><a href="SangTrongBanLinh.html">Sang Trọng Và Bản Lĩnh</a></li>
										<li>
											<a href="PhongThuyThanhCong.html">Phong Thủy Và Thành Công</a>
										</li>
										<li>
											<a href="PhongCachThoiTrang.html">Phong Cách Và Thời Trang</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapNhanCuoi.html">BST Nhẫn Cưới</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapNhanCauHon.html">BST Nhẫn Cầu Hôn</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapDayChuyen.html">BST Dây Chuyền</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapKimCuong.html">BST Kim Cương</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="BosuuTapBanChayNhat.html">BST Bán Chạy Nhất</a>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item">
							<a href="/TablePrice/Index" class="mainmenu__link">Bảng Giá Kim Cương</a>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a class="mainmenu__link" href="#">Kiến Thức</a>
							<ul class="sub-menu">
								<li class="menu-item">
									<a href="kienthuckimcuong.html">Kiến Thức Kim Cương</a>
								</li>
								<li class="menu-item">
									<a href="kienthuctrangsuc.html">Kiến Thức Trang Sức</a>
								</li>
								<li class="menu-item-has-children has-children">
									<a href="#">Hướng Dẫn Chọn Ni</a>
									<ul class="sub-menu">
										<li class="menu-item-has-children">
											<a href="huongdandovongtay.html">Hướng Dẫn Đo Vòng Tay</a>
										</li>
										<li class="menu-item-has-children">
											<a href="huongdandoninhan.html">Hướng Dẫn Đo Ni Nhẫn</a>
										</li>
										<li class="menu-item-has-children">
											<a href="huongdandodaychuyen.html">Hướng Dẫn Đo Dây Chuyền</a>
										</li>
									</ul>
								</li>
							</ul>
						</li>
						<li class="mainmenu__item menu-item-has-children has-children">
							<a href="#" class="mainmenu__link">Thông Tin</a>
							<ul class="sub-menu">
								<li><a href="ThongTinKhuyenMai.html">Thông Tin Khuyến Mãi</a></li>
								<li><a href="TinTuc.html">Tin Tức</a></li>
								<li><a href="CauHoiThuongGap.html">Các Câu Hỏi Thường Gặp</a></li>
							</ul>
						</li>
						<li class="mainmenu__item">
							<a href="gioithieu.html" class="mainmenu__link">Giới Thiệu</a>
						</li>
						<li class="mainmenu__item">
							<a href="lienhe.html" class="mainmenu__link">Liên Hệ</a>
						</li>
					</ul>
				</nav>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-12">
				<div class="mobile-menu"></div>
			</div>
		</div>
	</div>
</div>


<div class="breadcrumb-area" style="background-color: black;">
			<div class="container">
				<div class="row">
					<div class="col-12 text-center">
						<ul class="breadcrumb justify-content-center">
							<li><a href="/Home/Index">Trang Chủ</a></li>
							<li class="current"><a href="/TermsAndCondition/Index">Điều Khoản Và Điều Kiện</a></li>
						</ul>
						<h1 class="page-title">Điều Khoản Và Điều Kiện</h1>
					</div>
				</div>
			</div>
		</div>


		<!-- Main content wrapper start -->
		<div class="main-content-wrapper" style="background-color: black;">
			<div class="wishlist-area pt--40 pb--80 pt-md--30 pb-md--60">
				<div class="container">
					<style>
						.custom-list {
							list-style-type: none;
							/* Loại bỏ ký hiệu mặc định của danh sách */
							padding-left: 0;
						}

						.custom-list li::before {
							content: "• ";
							/* Thêm dấu chấm ở đầu mỗi mục */
							margin-right: 10px;
						}

						.custom-list li {
							text-indent: 20px;
							/* Khoảng cách thụt vào */
							margin-left: 20px;
							/* Đẩy mục vào bên phải */
							font-size: 1.8rem;
						}

						.custom-font {
							font-size: 1.6em;
							font-weight: bold;
						}
					</style>
					<!-- Wishlist Area Start -->

					<h2 style="color:#000000;background: rgba(232, 190, 111, 0.95);font-size:3rem;">Phần I – Quyền & trách nhiệm của khách hàng</h2>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 1</h3>
					<p>Quý khách được quyền thực hiện các giao dịch mua hàng – trang sức kim cương tại Diamond Luxury
						bất kỳ lúc nào thông qua trang Web của chúng tôi. Đồng thời cũng có quyền được hưởng mọi dịch vụ
						và ưu đãi mà chúng tôi đang triển khai, cung cấp.</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 2</h3>
					<p>Trước khi mua hàng, Quý khách sẽ được nhân viên tư vấn của Diamond Luxury cung cấp đầy đủ các
						thông tin về sản phẩm và hướng dẫn cách thức mua hàng, thanh toán, giao hàng, từ chối nhận hàng,
						đổi trả,…</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 3</h3>
					<p>Trách nhiệm cung cấp thông tin đầy đủ từ quý khách hàng:</p>
					<ul class="custom-list">
						<li>Các thông tin cá nhân của người đặt hàng, người thanh toán và người nhận hàng khi mua hàng
							thì quý khách có trách nhiệm cung cấp đầy đủ cho bên Diamond Luxury. Tại các phần chúng
							tôi có đánh dấu (*) là thông tin bắt buộc phải cung cấp. Dựa vào những thông tin Quý khách
							cung cấp Diamond Luxury sẽ phục vụ và hỗ trợ một cách tốt nhất.</li>
						<li>Trong trường hợp Quý khách cung cấp cho chúng tôi thiếu thông tin hoặc thông tin không chính
							xác Diamond Luxury xin được phép từ chối phục vụ. Nếu chúng tôi phát hiện ra Quý khách sử
							dụng thông tin sai sự thật, bất hợp pháp để thực hiện giao dịch, chúng tôi có quyền được
							trình báo sự việc với cơ quan có thẩm quyền bảo vệ pháp luật.</li>
					</ul>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 4</h3>
					<p>Khách hàng thân thiết của Diamond Luxury xin lưu ý về trách nhiệm bảo quản tài khoản của mình.
						Nếu vì lý do nào đó bị mất tài khoản xin hãy thông báo ngay cho chúng tôi để được hỗ trợ giải
						quyết.</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 5</h3>
					<p>Xin Quý khách hàng lưu ý, tuyệt đối không can thiệp vào hệ thống máy chủ hoặc làm thay đổi cấu
						trúc dữ liệu nào tại trang web của chúng tôi bằng bất kỳ hình thức, công cụ, phần mềm nào.</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 6</h3>
					<p>Diamond Luxury – Chuyên Trang Sức Kim Cương Nam Nữ nghiêm cấm mọi hành vi phát tán, lan truyền,
						truyền bá, cổ vũ cho những hoạt động can thiệp, xâm hại, phá hoại dữ liệu trên website <a
							href="https://diamondluxury.com/">https://diamondluxury.com/</a> của chúng tôi.</p>

					<p>Trong quá trình sử dụng dịch vụ tại website <a
							href="https://diamondluxury.com/">https://diamondluxury.com/</a> nếu phát hiện thấy bất kỳ
						lỗi hệ thống nào xin Quý khách vui lòng thông báo ngay cho Diamond Luxury theo Email <a
							href="mailto:diamondluxury@gmail.com">diamondluxury@gmail.com</a>. Chúng tôi đánh giá cao
						và xin ghi nhận sự hợp tác, hỗ trợ của Quý khách.</p>

					<p>Quý khách vui lòng không thực hiện bất kỳ hành vi đăng nhập hoặc tìm cách đăng nhập gây trái
						phép, gây ra ảnh hưởng tiêu cực cho hệ thống máy chủ của <a
							href="https://diamondluxury.com/">https://diamondluxury.com/</a>.</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 7</h3>
					<p>Khi tham khảo, nhận xét hay đánh giá bất kỳ sản phẩm nào trên website của chúng tôi trong phần tư
						vấn hỗ trợ khách hàng. Quý khách vui lòng không quấy rối hay có lời lẽ thiếu lịch sự dành cho
						nhân viên hỗ trợ.</p>

					<p>Cao Hùng Diamond nghiêm cấm việc xúc phạm, nhạo báng, chê bai, kỳ thị người khác dưới mọi hình
						thức.</p>

					<p>Chúng tôi tuyệt đối nghiêm cấm tất cả các hành vi mạo nhận, cố ý giả danh hay khiến lầm tưởng Quý
						khách thành người khác (khách hàng khác, thành viên thuộc Ban Quản trị Diamond Luxury) trên
						website <a href="https://diamondluxury.com/">https://diamondluxury.com/</a>.</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 8</h3>
					<p>Nghiêm cấm tuyệt đối các hành vi tuyên truyền, truyền bá, cổ vũ chống phá và xuyên tạc chính
						quyền.</p>

					<p>Nghiêm cấm việc bàn luận về chính trị.</p>

					<h2 style="color:#000000;background: rgba(232, 190, 111, 0.95);font-size:3rem;">Phần II – Quyền & trách nhiệm của Diamond Luxury</h2>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 1</h3>
					<p>Nếu Diamond Luxury cho rằng Quý khách đã có các hành vi vi phạm vào các điều cấm của pháp luật,
						chúng tôi sẽ triển khai các biện pháp sau:</p>
					<ul class="custom-list">
						<li>Thu hồi lại toàn bộ khoản tiền tương ứng với giá trị của các đơn hàng đã thanh toán nếu được
							thanh toán từ tài khoản ngân hàng hay thẻ tín dụng bất hợp pháp. Quý khách phải có trách
							nhiệm hoàn trả lại tất cả số tiền này.</li>
						<li>Thông báo về hành vi vi phạm của Quý khách cho các cơ quan bảo vệ pháp luật và cơ quan liên
							quan khác.</li>
					</ul>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 2</h3>
					<p>Diamond Luxury có trách nhiệm giao đúng sản phẩm tới đúng địa chỉ khách hàng cung cấp theo đơn
						hàng.</p>
					<p>Diamond Luxury có trách nhiệm tư vấn và hỗ trợ cho khách hàng suốt quá trình trước, trong và
						sau khi mua hàng.</p>

					<h3 style="color:rgba(232, 190, 111, 0.95);font-size:2.5rem;">Điều 3</h3>
					<p>Diamond Luxury có trách nhiệm phải bảo vệ thông tin cá nhân và thông tin mua hàng Quý khách đã
						cung cấp, đồng thời cam kết không tiết lộ cho bên thứ 3 dưới mọi hình thức.</p>

					<p>Tất cả thông tin của Quý khách sẽ được chúng tôi bảo vệ. Tuy nhiên, trong trường hợp được Cơ quan
						pháp luật yêu cầu, Diamond Luxury buộc phải cung cấp thông tin của Quý khách.</p>


					<!-- Wishlist Area End -->
				</div>
			</div>
		</div>

		<!-- Main content wrapper end -->