
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header-bottom header-top-1 position-relative navigation-wrap fixed-header">
    <div class="container position-static">
        <div class="row">
            <div class="col-12 position-static">
                <nav class="main-navigation">
                    <ul class="mainmenu col-12">
                        <li class="mainmenu__item active">
                            <a href="/Home/Index" class="mainmenu__link" style="color: white;">Trang Chủ</a>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="#" class="mainmenu__link">Kim Cương</a>
                            <ul class="sub-menu">
                                <li><a href="#">Kim Cương Tự Nhiên</a></li>
                                <li><a href="#">Kim Cương Nhân Tạo</a></li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children">
                            <a href="/DiamondJewelry/Index" class="mainmenu__link">Trang Sức Kim Cương</a>
                            <ul class="megamenu three-column">
                                <li>
                                    <a class="megamenu-title" href="/TSKC_Nhan/Index">Nhẫn Kim Cương</a>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="/TSKC_VongTay/Index">
                                        Vòng Tay Kim
                                        Cương
                                    </a>
                                    <a class="megamenu-title" href="/TSKC_LacTay/Index">
                                        Lắc Tay Kim
                                        Cương
                                    </a>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="/TSKC_HoaTai/Index">
                                        Hoa Tai Kim
                                        Cương
                                    </a>
                                    <a class="megamenu-title" href="/TSKC_DayChuyen/Index">
                                        Mặt Dây
                                        Chuyền KC
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children">
                            <a href="/TSC_Product/Index" class="mainmenu__link">Trang Sức Cưới</a>
                            <ul class="megamenu">
                                <li>
                                    <a class="megamenu-title" href="nhanCuoiKimCuong.html">
                                        Nhẫn Cưới Kim
                                        Cương
                                    </a>
                                </li>
                                <li>
                                    <a class="megamenu-title" href="nhanKCcauhon.html">
                                        Nhẫn Kim Cương Cầu
                                        Hôn
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="BoSuuTap.html" class="mainmenu__link">Bộ Sưu Tập</a>
                            <ul class="sub-menu">
                                <li class="menu-item-has-children has-children">
                                    <a href="BoSuuTapQuyOng.html">BST Quý Ông</a>
                                    <ul class="sub-menu">
                                        <li><a href="DangCapUyQuyen.html">Đẳng Cấp & Uy Quyền</a></li>
                                        <li><a href="SangTrongBanLinh.html">Sang Trọng Và Bản Lĩnh</a></li>
                                        <li>
                                            <a href="PhongThuyThanhCong.html">Phong Thủy Và Thành Công</a>
                                        </li>
                                        <li>
                                            <a href="PhongCachThoiTrang.html">Phong Cách Và Thời Trang</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapNhanCuoi.html">BST Nhẫn Cưới</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapNhanCauHon.html">BST Nhẫn Cầu Hôn</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapDayChuyen.html">BST Dây Chuyền</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapKimCuong.html">BST Kim Cương</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="BosuuTapBanChayNhat.html">BST Bán Chạy Nhất</a>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item">
                            <a href="/TablePrice/Index" class="mainmenu__link" style="color: #A86B28">Bảng Giá Kim Cương</a>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a class="mainmenu__link" href="#">Kiến Thức</a>
                            <ul class="sub-menu">
                                <li class="menu-item">
                                    <a href="kienthuckimcuong.html">Kiến Thức Kim Cương</a>
                                </li>
                                <li class="menu-item">
                                    <a href="kienthuctrangsuc.html">Kiến Thức Trang Sức</a>
                                </li>
                                <li class="menu-item-has-children has-children">
                                    <a href="#">Hướng Dẫn Chọn Ni</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item-has-children">
                                            <a href="huongdandovongtay.html">Hướng Dẫn Đo Vòng Tay</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="huongdandoninhan.html">Hướng Dẫn Đo Ni Nhẫn</a>
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="huongdandodaychuyen.html">Hướng Dẫn Đo Dây Chuyền</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mainmenu__item menu-item-has-children has-children">
                            <a href="#" class="mainmenu__link">Thông Tin</a>
                            <ul class="sub-menu">
                                <li><a href="ThongTinKhuyenMai.html">Thông Tin Khuyến Mãi</a></li>
                                <li><a href="TinTuc.html">Tin Tức</a></li>
                                <li><a href="CauHoiThuongGap.html">Các Câu Hỏi Thường Gặp</a></li>
                            </ul>
                        </li>
                        <li class="mainmenu__item">
                            <a href="gioithieu.html" class="mainmenu__link">Giới Thiệu</a>
                        </li>
                        <li class="mainmenu__item">
                            <a href="lienhe.html" class="mainmenu__link">Liên Hệ</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-12">
                <div class="mobile-menu"></div>
            </div>
        </div>
    </div>
</div>

@await Component.InvokeAsync("BGKC_Slide")

<!-- Slider area End -->
<!-- Breadcumb area Start -->
<div class="breadcrumb-area" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <ul class="breadcrumb justify-content-center">
                    <li><a href="trangchu.html">Trang Chủ</a></li>
                    <li class="current"><a href="banggiakimcuong.html">Bảng Giá Kim cương</a></li>
                </ul>
            </div>
            <div class="col-12 text-center">
                <li>
                    <h1 class="page-title">Bảng giá kim cương thiên nhiên kiểm định quốc tế</h1>
                </li>
            </div>
        </div>
    </div>
</div>
<!-- Breadcumb area End -->
<!-- Main Content Wrapper Start -->
<div class="main-content-wrapper" style="background-color: black;">
    <div class="faq-area pt--40 pb--70 pt-md--30 pb-md--50">
        <div class="container">
            <div class="row pb--40">
                <div class="col-12">
                    <div class="faq-heading text-center">
                        <h2 class="mb--20">**ROUND BRILLIANT CUT – 03 EXCELLENT – FLUORESCENCE**</h2>
                        <p>Bảng giá hột xoàn tham khảo theo ly (mm), nước màu (color) & độ sạch. Nếu quý khách đang muốn mua trang sức nhẫn, dây chuyền, hoa tai… bằng kim cương nhưng chưa biết giá kim cương thiên nhiên hôm nay như thế nào, hãy tham khảo nhanh báo giá mới nhất mới cập nhật ngay dưới đây.</p>
                        <p>Cập nhật ngày: <span id="currentDate"></span></p>
                        <p>Đơn vị tiền tệ: Việt Nam Đồng (đ)</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container position-static">
            <div class="row">
                <div class="col-12 text-center">
                    <ul class="mainmenu col-12">
                        <li class="mainmenu__item"><a href="#section0" class="mainmenu__link"><strong>3.6mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 1" class="mainmenu__link"><strong>3.9mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 2" class="mainmenu__link"><strong>4.1mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 3" class="mainmenu__link"><strong>4.5mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 4" class="mainmenu__link"><strong>5.0mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 5" class="mainmenu__link"><strong>5.2mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 6" class="mainmenu__link"><strong>5.3mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 7" class="mainmenu__link"><strong>5.4mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 8" class="mainmenu__link"><strong>6.0mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 9" class="mainmenu__link"><strong>6.2mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 10" class="mainmenu__link"><strong>6.3mm(<1CT)</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 11" class="mainmenu__link"><strong>6.3mm(>1CT)</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 12" class="mainmenu__link"><strong>6.8mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 13" class="mainmenu__link"><strong>7.2mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 14" class="mainmenu__link"><strong>8.1mm</strong></a></li>
                        <li class="mainmenu__item"><a href="#section 15" class="mainmenu__link"><strong>9.0mm(<3CT)</strong></a></li>
                    </ul>

                    @await Component.InvokeAsync("BGKC_GemPriceList")

                </div>
            </div>
            <br>
        </div>
        <div class="warning text-center">
            * Ghi chú: Biểu đồ giá kim cương phổ thông có thể thay đổi liên tục tùy vào thời điểm, liên hệ ngay Diamond Luxury để nhận ngay báo giá kim cương chính xác nhất
        </div>
    </div>
    <div class="col_large-12 text-center ">
        <p>
            <img src="../assets/img/Banggiakimcuong/bangiakc_2.png" alt="bangiakc">
        </p>
    </div>
    <div class="faq-area pt--40 pb--70 pt-md--30 pb-md--50">
        <div class="container">
            <div class="row pb--40">
                <div class="col-12">
                    <div class="faq-heading">
                        <p>Kim cương rời hay hột xoàn thiên nhiên có giấy kiểm định quốc tế hôm nay có giá giao động từ 5 triệu cho đến hàng trăm triệu, riêng những viên kim cương kích thước lớn đến siêu to có giá lên đến hàng tỷ đồng. Theo chia sẻ một số chuyên gia nghiên cứu thị trường nhận định: Chúng phụ thuộc chủ yếu dựa trên tiêu chuẩn 4C, và còn có một số tiêu chuẩn khác như độ cân xứng, độ phát quang, độ sạch, giấy chứng nhận…</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col_large-12 text-center ">
        <p>
            <img src="../assets/img/Banggiakimcuong/banggiakc_3.jpg" alt="bangiakc">
        </p>
    </div>
    <div class="faq-area pt--40 pb--70 pt-md--30 pb-md--50">
        <div class="container">
            <div class="row pb--40">
                <div class="col-12">
                    <div class="faq-heading">
                        <p>Ngoài ra, bảng giá kim cương nhân tạo hay tự nhiên ở các cửa hàng PNJ, DOJI, Thế giới Kim Cương… cũng có sự chênh lệch ít nhiều tùy vào mức độ uy tín, nổi tiếng của thương hiệu. Nhìn chung, bảng giá hột xoàn trên thị trường rất đa dạng, có thể biến động theo tình hình thị trường kinh tế trong ngoài nước, hơn nữa sự quan tâm và nhu cầu của người tiêu dùng về kim cương nuôi cấy nhân tạo moissanite đã giảm mạnh cũng là yếu tố cốt lõi quyết định đến giá kim cương.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col_large-12 text-center ">
        <p>
            <img src="../assets/img/Banggiakimcuong/bang-gia-kim-cuong-xac-nhan-GIA.jpg" alt="bangiakc">
        </p>
    </div>
    <div class="faq-area pt--40 pb--70 pt-md--30 pb-md--50">
        <div class="container">
            <div class="row pb--40">
                <div class="col-12">
                    <div class="faq-heading">
                        <p>Trường hợp muốn đặt gia công mẫu riêng, chúng tôi nhận thiết kế hình dáng sản phẩm và chất lượng theo đúng yêu cầu trong thời gian sớm nhất. Hãy liên hệ ngay cho Diamond Luxury qua tổng đài 0933 197 755 để được tư vấn miễn phí từ đội ngũ chuyên gia.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var currentDateElement = document.getElementById('currentDate');
        var currentDate = new Date();
        var formattedDate = currentDate.getDate() + '/' + (currentDate.getMonth() + 1) + '/' + currentDate.getFullYear();
        currentDateElement.textContent = formattedDate;
    });
</script>

