<!DOCTYPE html>
<html lang="en">
<!-- [Head] start -->

<head>

    <title>Diamond Luxury System</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../images/LOGO_black.png" />

    <link rel="stylesheet" href="../assets/css/plugins/style.css" />
    <!-- [Meta] -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- [Font] Family -->
    <link rel="stylesheet" href="../assets/fonts/inter/inter.css" id="main-font-link" />
    <!-- [Tabler Icons] https://tablericons.com -->
    <link rel="stylesheet" href="../assets/fonts/tabler-icons.min.css" />
    <!-- [Feather Icons] https://feathericons.com -->
    <link rel="stylesheet" href="../assets/fonts/feather.css" />
    <!-- [Font Awesome Icons] https://fontawesome.com/icons -->
    <link rel="stylesheet" href="../assets/fonts/fontawesome.css" />
    <!-- [Material Icons] https://fonts.google.com/icons -->
    <link rel="stylesheet" href="../assets/fonts/material.css" />
    <!-- [Template CSS Files] -->
    <link rel="stylesheet" href="../assets/css/style.css" id="main-style-link" />
    <link rel="stylesheet" href="../assets/css/style-preset.css" />
    <link rel="stylesheet" href="../assets/css/DiamondLuxury.css" />
    <!-- [Search CSS Files] -->
    <link rel="stylesheet" href="../assets/css/search.css" />
    <!-- [Downdown list CSS Files] -->
    <link rel="stylesheet" href="../assets/css/dropdownlist.css" />



</head>
<!-- [Head] end -->
<!-- [Body] Start -->

<body data-pc-preset="preset-1" data-pc-sidebar-caption="true" data-pc-layout="vertical" data-pc-direction="ltr"
      data-pc-theme_contrast="" data-pc-theme="light">



    <!-- [ Pre-loader ] start -->
    <div class="page-loader">
        <div class="bar"></div>
    </div>
    <!-- [ Pre-loader ] End -->
    <!-- [ Sidebar Menu ] start -->
    <nav class="pc-sidebar">

        <div class="navbar-wrapper">
            <div class="m-header">
                <a href="..//html/cust_customer_list.html" class="b-brand text-primary">
                    <!-- ========   Change your logo from here   ============ -->
                    <img src="../assets/images/LOGO.png" class="img-fluid Logo-Main" alt="logo" />
                </a>
            </div>
            <div class="navbar-content">
                <div class="card pc-user-card">
                    <div class="card-body">
                        <div class="d-flex align-items-center">
                            <div class="flex-shrink-0">
                                <img src="../assets/images/user/avatar-1.jpg" alt="user-image"
                                     class="user-avtar wid-45 rounded-circle" />
                            </div>
                            <div class="flex-grow-1 ms-3 me-2">
                                <h6 class="mb-0">Jonh Smith</h6>
                                <small>Quản Lí</small>
                            </div>
                            <a class="btn btn-icon btn-link-secondary avtar" data-bs-toggle="collapse" href="#pc_sidebar_userlink">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-sort-outline"></use>
                                </svg>
                            </a>
                        </div>
                        <div class="collapse pc-user-links" id="pc_sidebar_userlink">
                            <div class="pt-3">
                                <a href="#!">
                                    <i class="ti ti-user"></i>
                                    <span>Tài Khoản Của Tôi</span>
                                </a>
                                <a href="#!">
                                    <i class="ti ti-settings"></i>
                                    <span>Cài Đặt</span>
                                </a>
                                <a href="#!">
                                    <i class="ti ti-lock"></i>
                                    <span>Màn Hình Khóa</span>
                                </a>
                                <a href="#!">
                                    <i class="ti ti-power"></i>
                                    <span>Đăng Xuất</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <ul class="pc-navbar">
                    <li class="pc-item">
                        <a href="trangchu_manager.html" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-graph"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Trang Chủ</span>
                        </a>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-user-square"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Người Dùng</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="/Customer/Index">Quản Lí Người Dùng</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="../dashboard/analytics.html">Thêm Người Dùng Mới</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="../dashboard/finance.html">Quản Trị Viên</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-shopping-bag"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Nhân Viên</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="/Admin/Index">Quản trị viên</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Manager/Index">Quản Lí</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/SaleStaff/Index">Nhân viên bán hàng</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/DeliveryStaff/Index">Nhân viên giao hàng</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Role">Quản Lí Chức Vụ</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Staff/Create">Thêm Nhân Viên Mới</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="../dashboard/finance.html">Đánh Giá Nhân Viên</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-document"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Danh Mục</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="/Payment/Index">Quản lí thanh toán</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Material/Index">Quản lí vật liệu</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Platform/Index">Quản lí Nền tảng</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Slide/Index">Quản lí Slides</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/About/Index">Quản lí About</a>
                            </li>
                             <li class="pc-item">
                                <a class="pc-link" href="/InspectionCertificate/Index">Quản lí giấy chứng nhận</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Category/Index">Quản lí Loại Sản Phẩm</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="../demo/layout-tab.html">Thêm Danh Mục Mới</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-box-1"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Sản Phẩm</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="../demo/layout-compact.html">Quản Lí Sản Phẩm</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Gem/Index">Quản Lí Kim Cương</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/GemPriceList/Index">Quản Lí Giá Kim Cương</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="/Frame/Index">Quản Lí Khung</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="../demo/layout-tab.html">Thêm Sản Phẩm Mới</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-keyboard"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Mã Giảm Giá</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="/Discount/Index">Quản Lí Mã Giảm Giá</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-document"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Đơn Hàng</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="../demo/layout-compact.html">Quản Lí Đơn Hàng</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item pc-hasmenu">
                        <a href="#!" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-message-2"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Phản Hồi</span>
                            <span class="pc-arrow"><i data-feather="chevron-right"></i></span>
                        </a>
                        <ul class="pc-submenu">
                            <li class="pc-item">
                                <a class="pc-link" href="/Contact/Index">Quản Lí Liên Hệ</a>
                            </li>
                            <li class="pc-item">
                                <a class="pc-link" href="../demo/layout-compact.html">Phản Hồi Khách hàng</a>
                            </li>
                        </ul>
                    </li>
                    <li class="pc-item">
                        <a href="../widget/w_statistics.html" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-status-up"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Thống Kê</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <a href="../widget/w_statistics.html" class="pc-link">
                            <span class="pc-micon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-direct-inbox"></use>
                                </svg>
                            </span>
                            <span class="pc-mtext">Hộp Thư</span>
                        </a>
                    </li>
                    <li class="pc-item">
                        <form asp-controller="Staff" asp-action="Logout" method="post" class="text-center" style="display:flex; justify-content:center">
                            <div >
                                <button type="submit" class="pc-link btn btn-danger btn-sm mt-5" style="color: white; border-radius:25px;">
                                    <span class="pc-micon">
                                        <svg class="pc-icon">
                                            <use xlink:href="#custom-airplane"></use>
                                        </svg>
                                    </span>
                                    <span class="pc-mtext">Đăng xuất</span>
                                </button>
                            </div>
                          
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- [ Sidebar Menu ] end -->
    <!-- [ Header Topbar ] start -->
    <header class="pc-header">
        <div class="header-wrapper">
            <!-- [Mobile Media Block] start -->
            <div class="me-auto pc-mob-drp">
                <ul class="list-unstyled">
                    <!-- ======= Menu collapse Icon ===== -->
                    <li class="pc-h-item pc-sidebar-collapse">
                        <a href="#" class="pc-head-link ms-0" id="sidebar-hide">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="pc-h-item pc-sidebar-popup">
                        <a href="#" class="pc-head-link ms-0" id="mobile-collapse">
                            <i class="ti ti-menu-2"></i>
                        </a>
                    </li>
                    <li class="pc-h-item d-none d-md-inline-flex">
                        <form class="form-search">
                            <i class="search-icon">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-search-normal-1"></use>
                                </svg>
                            </i>
                            <input type="search" class="form-control" placeholder="Ctrl + K" />
                        </form>
                    </li>
                </ul>
            </div>
            <!-- [Mobile Media Block end] -->
            <div class="ms-auto">
                <ul class="list-unstyled">
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           aria-expanded="false">
                            <svg class="pc-icon">
                                <use xlink:href="#custom-sun-1"></use>
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end pc-h-dropdown">
                            <a href="#!"
                               class="dropdown-item"
                               onclick="layout_change('dark')">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-moon"></use>
                                </svg>
                                <span>Tối</span>
                            </a>
                            <a href="#!"
                               class="dropdown-item"
                               onclick="layout_change('light')">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-sun-1"></use>
                                </svg>
                                <span>Sáng</span>
                            </a>
                            <a href="#!"
                               class="dropdown-item"
                               onclick="layout_change_default()">
                                <svg class="pc-icon">
                                    <use xlink:href="#custom-setting-2"></use>
                                </svg>
                                <span>Mặc Định</span>
                            </a>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           aria-expanded="false">
                            <svg class="pc-icon">
                                <use xlink:href="#custom-notification"></use>
                            </svg>
                        </a>
                        <div class="dropdown-menu dropdown-notification dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-header d-flex align-items-center justify-content-between">
                                <h5 class="m-0">Thông Báo</h5>
                                <a href="#!" class="btn btn-link btn-sm">Đánh Dấu Là Đã Đọc</a>
                            </div>
                            <div class="dropdown-body text-wrap header-notification-scroll position-relative"
                                 style="max-height: calc(100vh - 215px)">
                                <p class="text-span">Hôm Nay</p>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <svg class="pc-icon text-primary">
                                                    <use xlink:href="#custom-layer"></use>
                                                </svg>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <span class="float-end text-sm text-muted">2 phút trước</span>
                                                <h5 class="text-body mb-2">Thiết Kế UI/UX</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a
                                                    type
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <svg class="pc-icon text-primary">
                                                    <use xlink:href="#custom-sms"></use>
                                                </svg>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <span class="float-end text-sm text-muted">1 giờ trước</span>
                                                <h5 class="text-body mb-2">Tin nhắn</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the 1500.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <p class="text-span">Hôm Qua</p>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <svg class="pc-icon text-primary">
                                                    <use xlink:href="#custom-document-text"></use>
                                                </svg>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <span class="float-end text-sm text-muted">2 giờ trước</span>
                                                <h5 class="text-body mb-2">Mẫu</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a
                                                    type
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <svg class="pc-icon text-primary">
                                                    <use xlink:href="#custom-user-bold"></use>
                                                </svg>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <span class="float-end text-sm text-muted">12 giờ trước</span>
                                                <h5 class="text-body mb-2">Lời Mời Thử Thách</h5>
                                                <p class="mb-2">
                                                    <span class="text-dark">Jonny aber</span> mời bạn tham gia thử thách
                                                </p>
                                                <button class="btn btn-sm btn-outline-secondary me-2">
                                                    Từ Chối
                                                </button>
                                                <button class="btn btn-sm btn-primary">Đồng Ý</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card mb-2">
                                    <div class="card-body">
                                        <div class="d-flex">
                                            <div class="flex-shrink-0">
                                                <svg class="pc-icon text-primary">
                                                    <use xlink:href="#custom-security-safe"></use>
                                                </svg>
                                            </div>
                                            <div class="flex-grow-1 ms-3">
                                                <span class="float-end text-sm text-muted">5 giờ trước</span>
                                                <h5 class="text-body mb-2">Bảo Mật</h5>
                                                <p class="mb-0">
                                                    Lorem Ipsum has been the industry's standard dummy
                                                    text ever since the 1500s, when an unknown printer
                                                    took a galley of type and scrambled it to make a
                                                    type
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center py-2">
                                <a href="#!" class="link-danger">Xóa Tất Cả Thông Báo</a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown pc-h-item header-user-profile">
                        <a class="pc-head-link dropdown-toggle arrow-none me-0"
                           data-bs-toggle="dropdown"
                           href="#"
                           role="button"
                           aria-haspopup="false"
                           data-bs-auto-close="outside"
                           aria-expanded="false">
                            <img src="../assets/images/user/avatar-2.jpg"
                                 alt="user-image"
                                 class="user-avtar" />
                        </a>
                        <div class="dropdown-menu dropdown-user-profile dropdown-menu-end pc-h-dropdown">
                            <div class="dropdown-header d-flex align-items-center justify-content-between">
                                <h5 class="m-0">Hồ Sơ</h5>
                            </div>
                            <div class="dropdown-body">
                                <div class="profile-notification-scroll position-relative"
                                     style="max-height: calc(100vh - 225px)">
                                    <div class="d-flex mb-1">
                                        <div class="flex-shrink-0">
                                            <img src="../assets/images/user/avatar-2.jpg"
                                                 alt="user-image"
                                                 class="user-avtar wid-35" />
                                        </div>
                                        <div class="flex-grow-1 ms-3">
                                            <h6 class="mb-1">Carson Darrin 🖖</h6>
                                            <span>carson.darrin@company.io</span>
                                        </div>
                                    </div>
                                    <hr class="border-secondary border-opacity-50" />
                                    <div class="card">
                                        <div class="card-body py-3">
                                            <div class="d-flex align-items-center justify-content-between">
                                                <h5 class="mb-0 d-inline-flex align-items-center">
                                                    <svg class="pc-icon text-muted me-2">
                                                        <use xlink:href="#custom-notification-outline"></use>
                                                    </svg>Thông Báo
                                                </h5>
                                                <div class="form-check form-switch form-check-reverse m-0">
                                                    <input class="form-check-input f-18"
                                                           type="checkbox"
                                                           role="switch" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-span">Quản Lí</p>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-setting-outline"></use>
                                            </svg>
                                            <span>Cài Đặt</span>
                                        </span>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-share-bold"></use>
                                            </svg>
                                            <span>Chia Sẻ</span>
                                        </span>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-lock-outline"></use>
                                            </svg>
                                            <span>Đổi Mật Khẩu</span>
                                        </span>
                                    </a>
                                    <hr class="border-secondary border-opacity-50" />
                                    <p class="text-span">Nhóm</p>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-profile-2user-outline"></use>
                                            </svg>
                                            <span>Nhóm thiết kế UI</span>
                                        </span>
                                        <div class="user-group">
                                            <img src="../assets/images/user/avatar-1.jpg"
                                                 alt="user-image"
                                                 class="avtar" />
                                            <span class="avtar bg-danger text-white">K</span>
                                            <span class="avtar bg-success text-white">
                                                <svg class="pc-icon m-0">
                                                    <use xlink:href="#custom-user"></use>
                                                </svg>
                                            </span>
                                            <span class="avtar bg-light-primary text-primary">+2</span>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-profile-2user-outline"></use>
                                            </svg>
                                            <span>Nhóm bạn bè</span>
                                        </span>
                                        <div class="user-group">
                                            <img src="../assets/images/user/avatar-1.jpg"
                                                 alt="user-image"
                                                 class="avtar" />
                                            <span class="avtar bg-danger text-white">K</span>
                                            <span class="avtar bg-success text-white">
                                                <svg class="pc-icon m-0">
                                                    <use xlink:href="#custom-user"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </a>
                                    <a href="#" class="dropdown-item">
                                        <span>
                                            <svg class="pc-icon text-muted me-2">
                                                <use xlink:href="#custom-add-outline"></use>
                                            </svg>
                                            <span>Thêm mới</span>
                                        </span>
                                        <div class="user-group">
                                            <span class="avtar bg-primary text-white">
                                                <svg class="pc-icon m-0">
                                                    <use xlink:href="#custom-add-outline"></use>
                                                </svg>
                                            </span>
                                        </div>
                                    </a>
                                    <hr class="border-secondary border-opacity-50" />
                                    <div class="d-grid mb-3">
                                        <button class="btn btn-primary">
                                            <svg class="pc-icon me-2">
                                                <use xlink:href="#custom-logout-1-outline"></use>
                                            </svg>Đăng Xuất
                                        </button>
                                    </div>
                                    <div class="card border-0 shadow-none drp-upgrade-card mb-0"
                                         style="
                        background-image: url(../assets/images/layout/img-profile-card.jpg);
                      ">
                                        <div class="card-body">
                                            <div class="user-group">
                                                <img src="../assets/images/user/avatar-1.jpg"
                                                     alt="user-image"
                                                     class="avtar" />
                                                <img src="../assets/images/user/avatar-2.jpg"
                                                     alt="user-image"
                                                     class="avtar" />
                                                <img src="../assets/images/user/avatar-3.jpg"
                                                     alt="user-image"
                                                     class="avtar" />
                                                <img src="../assets/images/user/avatar-4.jpg"
                                                     alt="user-image"
                                                     class="avtar" />
                                                <img src="../assets/images/user/avatar-5.jpg"
                                                     alt="user-image"
                                                     class="avtar" />
                                                <span class="avtar bg-light-primary text-primary">+20</span>
                                            </div>
                                            <h3 class="my-3 text-dark">
                                                245.3k <small class="text-muted">Followers</small>
                                            </h3>
                                            <div class="btn btn btn-warning">
                                                <svg class="pc-icon me-2">
                                                    <use xlink:href="#custom-logout-1-outline"></use>
                                                </svg>
                                                Nâng Cấp Theo Doanh Nghiệp
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </header>
    <div class="offcanvas pc-announcement-offcanvas offcanvas-end" tabindex="-1" id="announcement"
         aria-labelledby="announcementLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="announcementLabel">What's new announcement?</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <p class="text-span">Today</p>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="align-items-center d-flex flex-wrap gap-2 mb-3">
                        <div class="badge bg-light-success f-12">Big News</div>
                        <p class="mb-0 text-muted">2 min ago</p>
                        <span class="badge dot bg-warning"></span>
                    </div>
                    <h5 class="mb-3">Able Pro is Redesigned</h5>
                    <p class="text-muted">Able Pro is completely renowed with high aesthetics User Interface.</p>
                    <img src="../assets/images/layout/img-announcement-1.png" alt="img" class="img-fluid mb-3" />
                    <div class="row">
                        <div class="col-12">
                            <div class="d-grid">
                                <a class="btn btn-outline-secondary" href="https://1.envato.market/zNkqj6"
                                   target="_blank">Check Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="align-items-center d-flex flex-wrap gap-2 mb-3">
                        <div class="badge bg-light-warning f-12">Offer</div>
                        <p class="mb-0 text-muted">2 hour ago</p>
                        <span class="badge dot bg-warning"></span>
                    </div>
                    <h5 class="mb-3">Able Pro is in best offer price</h5>
                    <p class="text-muted">Download Able Pro exclusive on themeforest with best price. </p>
                    <a href="https://1.envato.market/zNkqj6" target="_blank">
                        <img src="../assets/images/layout/img-announcement-2.png" alt="img" class="img-fluid" />
                    </a>
                </div>
            </div>

            <p class="text-span mt-4">Yesterday</p>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="align-items-center d-flex flex-wrap gap-2 mb-3">
                        <div class="badge bg-light-primary f-12">Blog</div>
                        <p class="mb-0 text-muted">12 hour ago</p>
                        <span class="badge dot bg-warning"></span>
                    </div>
                    <h5 class="mb-3">Featured Dashboard Template</h5>
                    <p class="text-muted">
                        Do you know Able Pro is one of the featured dashboard template selected by Themeforest
                        team.?
                    </p>
                    <img src="../assets/images/layout/img-announcement-3.png" alt="img" class="img-fluid" />
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-body">
                    <div class="align-items-center d-flex flex-wrap gap-2 mb-3">
                        <div class="badge bg-light-primary f-12">Announcement</div>
                        <p class="mb-0 text-muted">12 hour ago</p>
                        <span class="badge dot bg-warning"></span>
                    </div>
                    <h5 class="mb-3">Buy Once - Get Free Updated lifetime</h5>
                    <p class="text-muted">Get the lifetime free updates once you purchase the Able Pro.</p>
                    <img src="../assets/images/layout/img-announcement-4.png" alt="img" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
    <!-- [ Header ] end -->
    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pc-content">
            <!-- [ Main Content ] start -->
            <div class="card">
                <div class="card-body">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- [ Main Content ] end -->
    </div>
    </div>
    <!-- [ Main Content ] end -->
    <div class="pct-c-btn">
        <a href="#"
           data-bs-toggle="offcanvas"
           data-bs-target="#offcanvas_pc_layout">
            <i class="ph-duotone ph-gear-six"></i>
        </a>
    </div>
    <div class="offcanvas border-0 pct-offcanvas offcanvas-end"
         tabindex="-1"
         id="offcanvas_pc_layout">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title">Cài Đặt</h5>
            <button type="button"
                    class="btn btn-icon btn-link-danger ms-auto"
                    data-bs-dismiss="offcanvas"
                    aria-label="Close">
                <i class="ti ti-x"></i>
            </button>
        </div>
        <div class="pct-body customizer-body">
            <div class="offcanvas-body py-0">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <div class="pc-dark">
                            <h6 class="mb-1">Chế Độ Chủ Đề</h6>
                            <p class="text-muted text-sm">
                                Chọn Chế Độ Sáng Hoặc Tối Hoặc Tự Động
                            </p>
                            <div class="row theme-color theme-layout">
                                <div class="col-4">
                                    <div class="d-grid">
                                        <button class="preset-btn btn active"
                                                data-value="true"
                                                onclick="layout_change('light');"
                                                data-bs-toggle="tooltip"
                                                title="Sáng">
                                            <svg class="pc-icon text-warning">
                                                <use xlink:href="#custom-sun-1"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-grid">
                                        <button class="preset-btn btn"
                                                data-value="false"
                                                onclick="layout_change('dark');"
                                                data-bs-toggle="tooltip"
                                                title="Tối">
                                            <svg class="pc-icon">
                                                <use xlink:href="#custom-moon"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="d-grid">
                                        <button class="preset-btn btn"
                                                data-value="default"
                                                onclick="layout_change_default();"
                                                data-bs-toggle="tooltip"
                                                title="Tự động đặt chủ đề dựa trên bảng màu của hệ điều hành của người dùng.">
                                            <span class="pc-lay-icon d-flex align-items-center justify-content-center">
                                                <i class="ph-duotone ph-cpu"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-1">Chế Độ Tương Phản</h6>
                        <p class="text-muted text-sm">Chọn Chế Độ Tương Phản</p>
                        <div class="row theme-contrast">
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="preset-btn btn"
                                            data-value="true"
                                            onclick="layout_theme_contrast_change('true');"
                                            data-bs-toggle="tooltip"
                                            title="Đúng">
                                        <svg class="pc-icon">
                                            <use xlink:href="#custom-mask"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="preset-btn btn active"
                                            data-value="false"
                                            onclick="layout_theme_contrast_change('false');"
                                            data-bs-toggle="tooltip"
                                            title="Sai">
                                        <svg class="pc-icon">
                                            <use xlink:href="#custom-mask-1-outline"></use>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-1">Chế độ tùy chỉnh</h6>
                        <p class="text-muted text-sm">Chọn chủ đề màu ưu tiên của bạn</p>
                        <div class="theme-color preset-color">
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Xanh"
                               class="active"
                               data-value="preset-1">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Chàm"
                               data-value="preset-2">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Tím"
                               data-value="preset-3">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Hồng"
                               data-value="preset-4">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Đỏ"
                               data-value="preset-5">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Cam"
                               data-value="preset-6">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Vàng"
                               data-value="preset-7">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Xanh lục"
                               data-value="preset-8">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Mòng két"
                               data-value="preset-9">
                                <i class="ti ti-checks"></i>
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Cyan"
                               data-value="preset-10">
                                <i class="ti ti-checks"></i>
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-1">Bố Cục Chủ Đề</h6>
                        <p class="text-muted text-sm">Chọn Bố Cục Chủ Đề</p>
                        <div class="theme-main-layout d-flex align-center gap-1 w-100">
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Thẳng Đứng"
                               class="active"
                               data-value="vertical">
                                <img src="../assets/images/customizer/caption-on.svg"
                                     alt="img"
                                     class="img-fluid" />
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Ngang"
                               data-value="horizontal">
                                <img src="../assets/images/customizer/horizontal.svg"
                                     alt="img"
                                     class="img-fluid" />
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Tiêu Điểm Màu"
                               data-value="color-header">
                                <img src="../assets/images/customizer/color-header.svg"
                                     alt="img"
                                     class="img-fluid" />
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Chặt"
                               data-value="compact">
                                <img src="../assets/images/customizer/compact.svg"
                                     alt="img"
                                     class="img-fluid" />
                            </a>
                            <a href="#!"
                               data-bs-toggle="tooltip"
                               title="Tab"
                               data-value="tab">
                                <img src="../assets/images/customizer/tab.svg"
                                     alt="img"
                                     class="img-fluid" />
                            </a>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <h6 class="mb-1">Chú Thích Thanh Bên</h6>
                        <p class="text-muted text-sm">Chú Thích Thanh Bên Ẩn/Hiện</p>
                        <div class="row theme-color theme-nav-caption">
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="preset-btn btn-img btn active"
                                            data-value="true"
                                            onclick="layout_caption_change('true');"
                                            data-bs-toggle="tooltip"
                                            title="Hiển Thị Chí Thích">
                                        <img src="../assets/images/customizer/caption-on.svg"
                                             alt="img"
                                             class="img-fluid" />
                                    </button>
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="d-grid">
                                    <button class="preset-btn btn-img btn"
                                            data-value="false"
                                            onclick="layout_caption_change('false');"
                                            data-bs-toggle="tooltip"
                                            title="Ẩn Chú Thích">
                                        <img src="../assets/images/customizer/caption-off.svg"
                                             alt="img"
                                             class="img-fluid" />
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="pc-rtl">
                            <h6 class="mb-1">Bố Cục Chủ Đề 2</h6>
                            <p class="text-muted text-sm">LTR/RTL</p>
                            <div class="row theme-color theme-direction">
                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="preset-btn btn-img btn active"
                                                data-value="false"
                                                onclick="layout_rtl_change('false');"
                                                data-bs-toggle="tooltip"
                                                title="LTR">
                                            <img src="../assets/images/customizer/ltr.svg"
                                                 alt="img"
                                                 class="img-fluid" />
                                        </button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="preset-btn btn-img btn"
                                                data-value="true"
                                                onclick="layout_rtl_change('true');"
                                                data-bs-toggle="tooltip"
                                                title="RTL">
                                            <img src="../assets/images/customizer/rtl.svg"
                                                 alt="img"
                                                 class="img-fluid" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item pc-box-width">
                        <div class="pc-container-width">
                            <h6 class="mb-1">Chiều Rộng Bố Cục</h6>
                            <p class="text-muted text-sm">
                                Chọn Bố Cục Đầy Đủ Hay Vùng Chứa
                            </p>
                            <div class="row theme-color theme-container">
                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="preset-btn btn-img btn active"
                                                data-value="false"
                                                onclick="change_box_container('false')"
                                                data-bs-toggle="tooltip"
                                                title="Chiều Rộng Đầy Đủ">
                                            <img src="../assets/images/customizer/full.svg"
                                                 alt="img"
                                                 class="img-fluid" />
                                        </button>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="d-grid">
                                        <button class="preset-btn btn-img btn"
                                                data-value="true"
                                                onclick="change_box_container('true')"
                                                data-bs-toggle="tooltip"
                                                title="Chiều Rộng Cố Định">
                                            <img src="../assets/images/customizer/fixed.svg"
                                                 alt="img"
                                                 class="img-fluid" />
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="d-grid">
                            <button class="btn btn-light-danger" id="layoutreset">
                                Đặt Lại Bố Cục
                            </button>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>


    <!-- [Page Specific JS] start -->
    <script src="../assets/js/plugins/apexcharts.min.js"></script>
    <script src="../assets/js/pages/dashboard-default.js"></script>
    <!-- [Page Specific JS] end -->
    <!-- Required Js -->
    <script src="../assets/js/plugins/popper.min.js"></script>
    <script src="../assets/js/plugins/simplebar.min.js"></script>
    <script src="../assets/js/plugins/bootstrap.min.js"></script>
    <script src="../assets/js/fonts/custom-font.js"></script>
    <script src="../assets/js/pcoded.js"></script>
    <script src="../assets/js/plugins/feather.min.js"></script>

    <script>
        layout_change('false');
    </script>

    <script>
        layout_theme_contrast_change('false');
    </script>

    <script>
        change_box_container('false');
    </script>

    <script>
        layout_caption_change('true');
    </script>

    <script>
        layout_rtl_change('false');
    </script>

    <script>
        preset_change('preset-1');
    </script>

    <script>
        main_layout_change('vertical');
    </script>

    @RenderSection("Scripts", required: false);
</body>
<!-- [Body] end -->

</html>