@using DiamondLuxurySolution.Data.Entities
@using DiamondLuxurySolution.ViewModel.Common
@using DiamondLuxurySolution.ViewModel.Models.News

@model List<NewsVm>
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Styled Button</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css"
          integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.green.min.css"
          integrity="sha512-C8Movfk6DU/H5PzarG0+Dv9MA9IZzvmQpO/3cIlGIflmtY3vIud07myMu4M/NTPJl8jmZtt/4mC9bAioMZBBdA==" crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap" rel="stylesheet">
    <style>
        /*Ten H2*/
        .hightlight-h2 {
            font-family: "Montserrat", sans-serif;
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 2px;
            color: white;
            text-transform: uppercase;
            text-align: center;
            margin: 5px 0px 20px 0px;
        }
        /*Owl nav*/
        .owl-nav {
            margin: 0px !important
        }

            .owl-nav button.owl-prev,
            .owl-nav button.owl-next {
                position: absolute;
                top: 40%;
                color: white;
                z-index: 10;
                width: 45px;
                height: 45px;
                background-color: rgba(0, 0, 0, 0.6) !important;
                border-radius: 50% !important;
                display: flex;
                align-items: center;
                justify-content: center;
            }

                .owl-nav button.owl-prev:hover,
                .owl-nav button.owl-next:hover {
                    background-color: darkgoldenrod !important;
                    outline: none;
                }

                .owl-nav button.owl-prev span,
                .owl-nav button.owl-next span {
                    font-size: 26px;
                    line-height: 1;
                    text-align: center;
                    display: block;
                }

        .container-news {
            padding: 0px 120px;
        }

        .owl-carousel .news-item {
            background-color: #343434;
            border: none;
            border-radius: 3% !important;
            text-align: center;
            border-radius: 4px;
            height: auto;
        }

        .news-img {
            width: 100%;
            height: 210px;
            overflow: hidden;
            border-top-left-radius: 3% !important;
            border-top-right-radius: 3% !important;
        }

            .news-img img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .news-content {
            transition: transform 0.3s;
        }

            .news-content:hover {
                transform: scale(1.0);
            }

        .news-text {
            padding: 30px;
        }
        /*Id Product*/
        .newsTitle {
        }

            .newsTitle h8 {
                color: white;
                font-size: 20px;
                font-weight: 0;
                font-family: "Source Code Pro", monospace;
                white-space: normal;
                word-wrap: break-word;
                word-break: break-word;
            }
    </style>
</head>
<body>

    @if (Model.Count() > 0 && Model != null)
    {
        <h2 class="hightlight-h2">Tin Tức Mới Nhất</h2>
        var newsHot = Model.OrderByDescending(m => m.DateCreated).Take(6).ToList();
        <div class="container-news">
            <div class="owl-carousel owl-carousel-news owl-theme" id="news-carousel">
                @foreach (var news in newsHot)
                {
                    <div class="news-item">
                        <div class="news-content">
                            <a href="/News/Detail?id=@news.NewsId">
                                <div class="news-img">
                                    <img src="@news.Image" alt="@news.NewName" class="primary-image" />
                                </div>
                                <div class="news-text">
                                    <div class="newsTitle">
                                        <h8>
                                            @news.Title
                                        </h8>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                }
            </div>
        </div>
    }

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
            integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw=="
            crossorigin="anonymous" referrerpolicy="no-referrer">
    </script>
    <script>

        $('.owl-carousel-news').owlCarousel({
            loop: true,
            margin: 20,
            nav: false,
            dots: true,
            slideBy: 3,
            responsive: {
                0: {
                    items: 1,
                    slideBy: 1
                },
                600: {
                    items: 2,
                    slideBy: 2
                },
                1000: {
                    items: 3,
                    slideBy: 3
                }
            }
        });
        // Bắt sự kiện khi rê chuột vào sản phẩm
        $(document).ready(function () {
            var owl = $('#news-carousel');
            $('.news-item, .owl-next, .owl-prev').mouseenter(function () {
                owl.trigger('refresh.owl.carousel');
                $('.owl-nav').removeClass('disabled');
            });

            $('.news-item').mouseleave(function () {
                owl.trigger('refresh.owl.carousel');
                $('.owl-nav').addClass('disabled');
            });
        });
        // Tùy chỉnh hành vi kéo
        /* var owl = $('.owl-carousel');
         owl.on('dragged.owl.carousel', function(event) {
             if (event.relatedTarget.state.direction == 'left') {
                 owl.trigger('next.owl.carousel', [300]);
             } else {
                 owl.trigger('prev.owl.carousel', [300]);
             }


         });
        */
    </script>
</body>
</html>
