@using DiamondLuxurySolution.ViewModel.Models.Slide
@model List<SlideViewModel>

<div class="slider-area">
    <div class="homepage-slider">
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var slide in Model)
            {
                if (slide.Status && !slide.SlideName.Equals("Nhẫn nữ")
                && !slide.SlideName.Equals("Nhẫn nam")
                && !slide.SlideName.Equals("Nhẫn cưới")
                && !slide.SlideName.Equals("Bông tai")
                && !slide.SlideName.Equals("Dây chuyền")
                && !slide.SlideName.Equals("Kim Cương"))
                {
                    <!-- Single Slide Start -->
                    <div class="single-slider content-v-center"
                         style="background-image: url(@slide.SlideImage)">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="slider-content">
                                        <div class="slide-btn-group" data-animation="fadeInUp" data-duration="1s"
                                             data-delay=".3s">
                                            <a href="@slide.SlideUrl" class="btn btn-bordered btn-style-1">Mua Sắm Tại Đây</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Single Slide End -->
                }
            }
        }
        else
        {
            <p>Không có slide</p>
        }

    </div>
</div>
