@model DiamondLuxurySolution.ViewModel.Models.Discount.CreateDiscountRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Tạo mới giảm giá</h1>

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Errors != null)
        {
            foreach (var error in ViewBag.Errors)
            {
                <h6 class="text-danger">@error</h6>
            }
        }
        <form asp-action="Create" asp-controller="Discount" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="DiscountName" class="control-label">Tên chiết khấu</label>
                <input asp-for="DiscountName" class="form-control" />
                <span asp-validation-for="DiscountName" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Description" class="control-label">Mô tả chiết khấu</label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="PercentSale" class="control-label"> Phần trăm chiết khấu</label>
                <input asp-for="PercentSale" class="form-control" />
                <span asp-validation-for="PercentSale" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="From" class="control-label">Điểm bắt đầu chiết khấu</label>
                <input asp-for="From" class="form-control" />
                <span asp-validation-for="From" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="To" class="control-label">Điểm đến chiết khấu</label>
                <input asp-for="To" class="form-control" />
                <span asp-validation-for="To" class="text-danger"></span>
            </div>
            <div class="form-check form-switch m-4">
                <label asp-for="Status" class="control-label m-2">Hiển thị</label>
                <input class="form-check-input f-18" type="checkbox"  asp-for="Status">
            </div>
            <div class="form-group row">
                <div class="col-md-5">
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                </div>
                <div class="col-md-7">
                    <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("Index", "Discount")'">Về trang quản lí mã giảm giá</button>
                </div>
            </div>
        </form>
    </div>
</div>
