@model DiamondLuxurySolution.ViewModel.Models.Material.MaterialVm

@{
    ViewData["Title"] = "Edit";
}

<h1>Chỉnh sửa Vật Liệu</h1>
@if (Model != null)
{
    <div class="row">
        <div class="col-md-6">
            @if (ViewBag.Errors != null)
            {
                foreach (var error in ViewBag.Errors)
                {
                    <h6 class="text-danger">@error</h6>
                }
            }
            <form asp-action="Edit" asp-controller="Material" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group m-2">
                    <label asp-for="MaterialId" class="control-label">ID của Vật Liệu</label>
                    <input asp-for="MaterialId" class="form-control" readonly />
                </div>
                <div class="form-group m-2">
                    <label asp-for="MaterialName" class="control-label">Tên vật liệu</label>
                    <input asp-for="MaterialName" class="form-control" />
                    <span asp-validation-for="MaterialName" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Color" class="control-label">Màu vật liệu</label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Price" class="control-label">Giá vật liệu</label>
                    <input asp-for="Price" type="text" class="form-control price-input PriceFormatFinal" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="EffectDate" class="control-label">Ngày của giá hiện hành</label>
                    <input asp-for="EffectDate" class="form-control" />
                    <span asp-validation-for="EffectDate" class="text-danger"></span>
                </div>
                <div class="form-group m-2">
                    <label asp-for="Description" class="control-label">Mô tả vật liệu</label>
                    <input asp-for="Description" class="form-control" />
                </div>
                <div class="form-group m-2">
                    <label class="control-label m-2">Hình ảnh hiện tại</label>
                    @if (string.IsNullOrEmpty(Model.MaterialImage) || Model.MaterialImage.Length <= 0)
                    {
                        <label style="color:orangered;">Không có hình ảnh</label>
                    }
                    else
                    {
                        <label>
                            <img src="@Model.MaterialImage" style="height:100px; width:100px" />
                        </label>
                    }
                </div>
                <div class="form-group m-2">
                    <label asp-for="MaterialImage" class="control-label m-2">Hình ảnh Mới</label>
                    <input asp-for="MaterialImage" class="form-control" type="file" value="@Model.MaterialImage"/>
                </div>
                <div class="form-check form-switch m-4">
                    <label asp-for="Status" class="control-label mt-1">Hiển thị</label>
                    <input class="form-check-input f-18" type="checkbox" asp-for="Status">
                </div>
                <div class="form-group row">
                    <div class="col-md-5">
                        <input type="submit" value="Lưu" class="btn btn-primary" />
                    </div>
                    <div class="col-md-7">
                        <a class="m-6 btn btn-secondary" asp-action="Index">Về trang quản lí vật liệu</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
}
else
{
    <a class="m-5 btn btn-secondary" asp-action="Index">Về trang quản lí vật liệu</a>
}

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");

    }

    		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

			<script>
				$(document).ready(function () {

					// Select all inputs with the class "PriceFormat"
					const $inputs = $(".PriceFormatFinal");

					$inputs.each(function () {

						// Ensure initial value is correctly formatted
						if ($(this).val()) {
							let value = $(this).val().replace(/\./g, "");
							$(this).val(new Intl.NumberFormat('vi-VN').format(parseInt(value)));
						}

						$(this).on("input", function () {
							let value = $(this).val();

							// Remove all non-digit characters
							value = value.replace(/[^\d]/g, "");

							// Limit to a maximum of 16 digits
							if (value.length > 16) {
								value = value.slice(0, 16);
							}

							// If value is not empty, format it with Vietnamese thousand separators
							if (value) {
								$(this).val(new Intl.NumberFormat('vi-VN').format(parseInt(value)));
							} else {
								$(this).val("");
							}
						});
					});
				});
		</script>
}
