@model DiamondLuxurySolution.ViewModel.Models.GemPriceList.CreateGemPriceListRequest

@{
    ViewData["Title"] = "Create";
}

<h1>Tạo mới giá kim cương</h1>
<hr />

<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Errors != null)
        {
            foreach (var error in ViewBag.Errors)
            {
                <h6 class="text-danger">@error</h6>
            }
        }

        <form asp-action="Create" asp-controller="GemPriceList" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="Cut" class="control-label m-2">Giát cắt</label>
                <input asp-for="Cut" class="form-control" />
                <span asp-validation-for="Cut" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Clarity" class="control-label m-2">Độ tinh khiết</label>
                <input asp-for="Clarity" class="form-control" />
                <span asp-validation-for="Clarity" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="CaratWeight" class="control-label m-2">Trọng lượng Carat</label>
                <input asp-for="CaratWeight" class="form-control" />
                <span asp-validation-for="CaratWeight" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Color" class="control-label m-2">Màu sắc</label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="Price" class="control-label m-2">Giá kim cương</label>
                <input asp-for="Price" id="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group m-2">
                <label asp-for="effectDate" class="control-label m-2">Ngày ảnh hưởng</label>
                <input asp-for="effectDate" class="form-control" type="date" />
                <span asp-validation-for="effectDate" class="text-danger"></span>
            </div>
            <div class="form-check form-switch m-4">
                <label asp-for="Active" class="control-label m-1">Hiển thị</label>
                <input class="form-check-input f-18" type="checkbox" asp-for="Active">
            </div>


            <div class="form-group row">
                <div class="col-md-8 mt-2">
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                </div>
                <div class="col-md-4 mt-2">
                    <a class="m-6 btn btn-secondary" asp-action="Index">Về trang quản lí giá kim cương</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const input = document.querySelector("#Price");

            input.addEventListener("input", function (e) {
                let value = e.target.value;

                // Xóa bỏ các ký tự không phải là số
                value = value.replace(/[^0-9]/g, "");

                // Giới hạn tối đa 13 ký tự số
                if (value.length > 13) {
                    value = value.slice(0, 13);
                }

                // Nếu giá trị không rỗng, định dạng lại theo kiểu chuỗi Việt Nam
                if (value) {
                    e.target.value = new Intl.NumberFormat('vi-VN').format(parseInt(value));
                } else {
                    e.target.value = "";
                }
            });
        });
    </script>
}