@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area" style="background-color: black;">
            <div class="container">
                <div class="row">
                    <div class="col-12 text-center">
                        <ul class="breadcrumb justify-content-center">
                            <li><a href="/Home/Index">Trang Chủ</a></li>
                            <li class="current"><a href="/WarrantyPolicy/Index">Chính Sách Bảo Hành</a></li>
                        </ul>
                        <h1 class="page-title">Chính Sách Bảo Hành</h1>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content wrapper start -->
        <div class="main-content-wrapper" style="background-color: black;">
            <div class="wishlist-area pt--40 pb--80 pt-md--30 pb-md--60">
                <div class="container">
                    <div class="row">
                        <div class="col-12" style="margin-left:20px">
                            <style>
                        .custom-list {
                            list-style-type: none;
                            /* Loại bỏ ký hiệu mặc định của danh sách */
                            padding-left: 0;
                        }

                        .custom-list li::before {
                            content: "• ";
                            /* Thêm dấu chấm ở đầu mỗi mục */
                            margin-right: 10px;
                        }

                        .custom-list li {
                            text-indent: 20px;
                            /* Khoảng cách thụt vào */
                            margin-left: 20px;
                            /* Đẩy mục vào bên phải */
                            font-size:20px;
                            te
                        }

                        .custom-font {
                            font-size: 2em;
                            font-weight: bold;
                            margin-top: 2.5rem;
                        }
                    </style>
                                        <!-- Wishlist Area Start -->
                    <h3 class="custom-font">Đối với trang sức kim cương</h3>
                    <ul class="custom-list">
                        <li><a>MIỄN PHÍ </a>làm mới, xi, đánh bóng, làm sạch đá trọn đời đối với các sản phẩm
                            Nhẫn, Bông tai, Dây chuyền, Lắc tay.</li>
                        <li>Hỗ trợ gắn lại hột tấm bị rớt hoặc bị mờ.</li>
                        <li>Quý khách nên tới Showroom của Cao Hùng Diamond 02 tháng/ lần để vệ sinh trang sức.</li>
                    </ul>

                    <h3 class="custom-font">Đối với trang sức cưới</h3>
                    <ul class="custom-list">
                        <li><a>MIỄN PHÍ</a> làm mới, xi, đánh bóng, làm sạch đá trọn đời.</li>
                        <li>Tính phí (tùy mức độ hư hỏng) đối với sản phẩm vàng hồng.</li>
                    </ul>
                    <!-- Wishlist Area End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Main content wrapper end -->