@using DiamondLuxurySolution.ViewModel.Models.KnowledgeNews
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="breadcrumb-area" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Hướng Dẫn Đo Ni Dây Chuyền</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/Home/Index">Trang Chủ</a></li>
                    
                    <li class="current"><a href="/HuongDanDoNiDayChuyen/Index">Hướng Dẫn Đo Size Dây Chuyền</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="main-content-wrapper" style="background-color: black;">
    <div class="single-post-area pt--40 pb--40 pt-md--30 pb-md--60">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 order-lg-2 order-1 mb-md--30">
                    <div class="single-post-wrapper">
                        <article class="post post-details mb--30">
                            <div class="post-info">
                                <div class="post-content">
                                    <h2 class="post-title" style="font-size: 3rem;color: #a8741A;">Giới Thiệu</h2>
                                    <p>Dây chuyền hay vòng cổ là một trang sức vô cùng được yêu thích, đồng thời cũng là một gợi ý quà tặng rất ý nghĩa. Khi mua dây chuyền ngoài việc chọn mẫu dây chuyền đẹp, phù hợp với người đeo thì bạn còn phải quan tâm cả size dây chuyền. Size dây chuyền vừa vặn với người đeo mới có thể tôn lên vẻ đẹp của cả người đeo lẫn dây chuyền. Nếu bạn chưa biết xác định size dây chuyền như thế nào thì có thể tham khảo hướng dẫn sau!</p>
                                    <div class="image text-center">
                                        <img style="padding: 2rem;" src="../assets/img/pic_product/dodaychuyen/dodaychuyen.png" alt="blog">
                                    </div>
                                    <h2 class="post-title" style="color: #a8741A;">Hướng dẫn đo kích thước trang sức: Dây chuyền</h2>
                                    <h2 class="post-title">Cách 1: Đo size dây chuyền bằng thước</h2>
                                    <p>
                                        Nếu bạn đang có sẵn một chiếc dây chuyền thì có thể sử dụng nó để đo và tìm size dây chuyền phù hợp. Cách đo thực hiện như sau:
                                        <br>
                                        - Bước 1: Sử dụng thước đo chiều dài của sợi dây chuyền có sẵn.
                                        <br>
                                        - Bước 2: Sau khi đã xác định được kích thước của sợi dây chuyền hãy đối chiếu với kích thước trong hình dưới đây. Kích thước đo được tính theo cm.
                                    </p>
                                    <div class="image text-center">
                                            <img style="padding: 2rem;" src="../assets/img/pic_product/dodaychuyen/bang-size-day-chuyen-vong-co-chuan.jpg" alt="blog">
                                    </div>
                                    <p>
                                        - Bước 3: Kích thước dây chuyền của bạn là số size được ghi dưới đường thẳng. Giờ bạn chỉ cần đối chiếu với size dây chuyền tại Cao Hùng Diamond và đặt mua.
                                        <blockquote>Lưu ý: Size dây chuyền bạc thường là size 42 và các size chênh nhạc từ 40 – 42cm. Size dây chuyền vàng cũng tương tự, là size 42 hay 45. Đối với size dây chuyền kim cương là 42. Hoặc bạn có thể liên hệ với Cao Hùng Diamond và cung cấp kích thước sợi dây chuyền đã đo được để được tư vấn chọn size phù hợp. Trường hợp size của bạn không có thì có thể đặt làm theo size riêng tại showroom của chúng tôi.</blockquote>
                                    </p>
                                    <h2 class="post-title">Cách 2: Đo size dây chuyền thủ công</h2>
                                    <p>
                                        Tuy nhiên, nếu bạn không có sẵn dây chuyền hay vòng cổ cũng không sao, có thể áp dụng cách đo size dây chuyền thủ công cũng tương đối đơn giản và chính xác. Cụ thể:
                                        <br>
                                        - Bước 1: Lấy một tờ giấy A4 và cắt theo chiều dọc thành hình như sợi dây và quấn quanh cổ theo vòng dây muốn đeo rồi đánh dấu điểm giao giữa 2 đầu giấy.
                                        <br>
                                        - Bước 2: Trải mảnh giấy ra mặt phẳng và lấy thước kẻ đo độ dài từ điểm đầu tới điểm đánh dấu trên mảnh giấy.
                                        <br>
                                        Lưu ý: Nên thực hiện đo từ 3 – 4 lần để có được kết quả chính xác nhận.
                                    </p>
                                    <div class="image text-center">
                                            <img style="padding: 2rem;" src="../assets/img/pic_product/dodaychuyen/tham-khao-cac-size-day-chuyen-dep.jpg" alt="blog">
                                    </div>
                                    <h2 class="post-title" style="color: #a8741A;">Độ dài dây chuyền, vòng cổ thông thường hiện nay</h2>
                                    <p style="padding-left: 1rem;">
                                        - Từ 35 – 40cm: Dây chuyền có kích thước này khi đeo sẽ khá sát với chân cổ nhưng đảm bảo không hề gây khó chịu
                                        <br>
                                        - Từ 45cm: Khi đeo dây chuyền có kích thước này thì sợi dây sẽ chạm tới xương quai đòn. Rất nhiều người thích đeo dây chuyền kích thước này để làm nổi bật phần cổ, xương quai đòn và gương mặt
                                    </p>
                                    <div class="image text-center">
                                            <img style="padding: 2rem;" src="../assets/img/pic_product/dodaychuyen/do-dai-day-chuyen-vong-co-pho-bien-hien-nay.jpg" alt="blog">
                                    </div>
                                    <p style="padding-left: 1rem;">
                                        - Từ 50 – 55cm: Đeo dây chuyền kích thước này thì sợi dây sẽ nằm ở dưới xương quai đòn nhưng vẫn nằm cách phần ngực khoảng vài cm. Nếu bạn muốn đeo dây chuyền có mặt đi kèm thì nên chọn kích thước này
                                        <br>
                                        - Từ 60cm: Loại dây chuyền này tương đối dài, khi đeo sẽ chạm tới ngang ngực. Nếu bạn mặc các loại trang phục có phần ngực xẻ sâu thì có thể chọn dây chuyền kích thước này
                                        <br>
                                        - Từ 70cm trở lên: Kích thước dây chuyền này rất dài, khi đeo sẽ chạm tới ngang rốn. Thường các mẫu dây chuyền trơn hoặc xâu chuỗi hạt mới có kích thước này. Cũng có một số mẫu dây chuyền kèm mặt dài từ 70cm trở lên nhưng không nhiều
                                    </p>
                                    <h2 class="post-title" style="color: #a8741A;">Mách bạn một số mẹo đo size dây chuyền khi muốn mua làm quà tặng</h2>
                                    <h2 class="post-title">1. Mượn người bạn muốn tặng quà dây chuyền của họ</h2>
                                    <p>Khi bạn muốn tặng dây chuyền cho ai đó nhưng không biết nên chọn kích thước nào thì có thể giả vờ mượn dây chuyền của họ rồi đo theo các cách đo size dây chuyền như hướng dẫn trên.</p>
                                    <h2 class="post-title">2. Nhờ người thân</h2>
                                    <p>Hoặc bí mật hơn là nhờ người thân của người bạn muốn tặng quà giúp bạn tìm hiểu size dây chuyền, vòng cổ của họ. Người thân của người tặng quà có thể lấy thông tin size vòng cổ của họ dễ dàng và tự nhiên hơn bằng hình thức hỏi kích thước hay nhờ thử giúp dây chuyền chẳng hạn.</p>
                                    <h2 class="post-title">3. Nhờ người nhận quà thử giúp </h2>
                                    <p>Ngoài ra, bạn cũng có thể giả vờ nói với người được tặng quà rằng mình muốn mua dây chuyền, vòng cổ cho người khác nhưng không biết kích thước. Sau đó nhờ người mình muốn tặng quà thử giúp vòng cổ.</p>
                                    <br>
                                    <strong>Trên đây là hướng dẫn cách đo size trang sức – dây chuyền, vòng cổ. Nếu bạn không yên tâm về độ chuẩn xác thì có thể đến trực tuyến showroom của Diamond Luxury để được nhân viên hỗ trợ đo và trực tiếp thử các mẫu dây chuyền với các size khác nhau để tìm cho mình mẫu dây chuyền có size ưng ý, phù hợp nhất.</strong>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
                </aside>
            </div>
        </div>
    </div>
</div>
        </div>