@using System.Text.RegularExpressions
@using DiamondLuxurySolution.ViewModel.Models.Promotion
@model List<PromotionVm>
<style>
    .a {
        font-size: 2.875rem;
        text-transform: uppercase;
        letter-spacing: 0.03rem;
        text-align: center;
        margin: 2.1875rem auto;
        border: 2px solid white;
        width: fit-content;
        padding: 18px;
    }

    .main {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding-bottom: 40px;
    }


    .custom-col {
        flex: 0 0 calc(25% - 1rem); /* Đảm bảo kích thước của cột */
        max-width: calc(25% - 1rem); /* Đảm bảo kích thước tối đa của cột */
        display: flex;
        justify-content: center; /* Căn giữa nội dung theo chiều ngang */
    }

        .custom-col img {
            width: 100%;
            transition: transform 0.3s ease;
        }

    .ZomImg:hover {
        transform: scale(1.1);
        transition: transform 0.3s ease;
        /* Điều chỉnh giá trị này để hình ảnh không vượt quá kích thước tối đa */
    }
</style>

@if (Model != null && Model.Count() > 0)
{
    var BigBanner = Model.Where(p => p.Status && p.Description == "Banner").Take(1).ToList();
    var Banner = Model.Where(p => p.Status && p.Description != "Banner").Take(4).ToList();


    <div class="single-slider content-v-center"
         style="background-image: url(https://file.hstatic.net/1000381168/file/slide_km_830459aeb35f4801a46dcc4a48739d78_master.png); background-size:cover; height:70rem;">
    </div>

    <h1 class="a" style="text-align: center;">Khuyến Mãi Trong Tháng</h1>
      <div class="main">

        @foreach (var promotion in BigBanner)
            {
                    <div class="row" style="display: flex; justify-content: center;">
                        <div class="col-12" style="max-width: 74%;">
                            <img class="ZomImg" src="@promotion.BannerImage" />
                        </div>
                    </div>
            }
        <div class="row" style="display: flex; justify-content: center; flex-wrap: wrap; gap: 1rem; max-width: 75.5%;  margin-top:25px">
            @foreach (var promotions in Banner)
            {
                <div class="custom-col">
                    <img class="ZomImg" src="@promotions.PromotionImage" />
                </div>
            }


        </div>
    </div>
}
else
{
    <h1>Không Có Khuyến Mãi</h1>
}

        

          