@model DiamondLuxurySolution.ViewModel.Models.About.CreateAboutRequest

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Tạo mới About</h1>
<hr />
<div class="row">
    <div class="col-md-6">
        @if (ViewBag.Errors != null)
        {
            foreach (var error in ViewBag.Errors)
            {
                <h6 class="text-danger">@error</h6>
            }
        }
        <form asp-action="Create" asp-controller="About" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group m-2">
                <label asp-for="AboutName" class="control-label mb-1">Tên Thông Tin Liên Hệ</label>
                <input name="AboutName" class="form-control" />
                <span asp-validation-for="AboutName" class="text-danger"></span>
            </div>
            <div class="form-group m-2 mt-2">
                <label asp-for="AboutEmail" class="control-label mb-1 mt-3">Email</label>
                <input  asp-for="AboutEmail" class="form-control" />
                <span asp-validation-for="AboutEmail" class="text-danger"></span>
            </div>
            <div class="form-group m-2 mt-2">
                <label asp-for="AboutAddress" class="control-label mb-1 mt-3">Địa chỉ</label>
                <input  asp-for="AboutAddress" class="form-control" />
                <span asp-validation-for="AboutAddress" class="text-danger"></span>
            </div>
            <div class="form-group m-2 mt-2">
                <label asp-for="AboutPhoneNumber" class="control-label mb-1 mt-3">Số điện thoại</label>
                <input  asp-for="AboutPhoneNumber" class="form-control" />
                <span asp-validation-for="AboutPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group m-2 ">
                <label asp-for="Description" class="control-label mb-1 mt-3">Mô Tả</label>
                <input type="text" asp-for="Description" class="form-control" />
            </div>

            <div class="form-check form-switch m-4">
                <label asp-for="Status" class="control-label m-1">Hiển thị</label>
                <input class="form-check-input f-18" type="checkbox" asp-for="Status">
            </div>

            <div class="form-group row">
                <div class="col-md-5">
                    <input type="submit" value="Tạo mới" class="btn btn-success" />
                </div>
                <div class="col-md-7 mt-2">
                    <a class="m-6 btn btn-secondary" asp-action="Index">Về trang quản lí thông tin liên hệ</a>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    <script>

    </script>
}
