@using DiamondLuxurySolution.ViewModel.Models.KnowledgeNews
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Giới Thiệu</h1>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/Home/Index">Trang Chủ</a></li>
                    <li class="current"><a href="/GioiThieu/Index">Giới Thiệu Về Chúng Tôi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="main-content-wrapper">
    <div class="about-area bg--dark-3 mt--40 mt-sm--30">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6">
                    <div class="img-box text-center">
                        <img src="../assets/img/pic_product/about/LOGO_trongsuot.png" alt="about">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="about-text">
                                <h2 class="heading-secondary mb--40 mb-sm--30 text-center">
                                    Về Diamond Luxury
                                </h2>
                                <p class="mb--40 mb-sm--30">Diamond Luxury là cửa hàng uy tín chuyên cung cấp kim cương sang trọng và tinh tế. Với nhiều năm kinh nghiệm, chúng tôi tự hào mang đến những viên kim cương hoàn hảo, được chọn lọc kỹ lưỡng và kiểm định chất lượng chặt chẽ.</p>
                                <p class="mb--40 mb-sm--30">Đội ngũ nhân viên tận tâm và chuyên nghiệp của chúng tôi luôn sẵn sàng tư vấn để bạn chọn lựa sản phẩm phù hợp nhất. Diamond Luxury cam kết mang đến trải nghiệm mua sắm tuyệt vời, không gian sang trọng và dịch vụ xuất sắc.</p>
                                <p class="mb--40 mb-sm--30">Hãy đến với Diamond Luxury để khám phá những bộ sưu tập kim cương đẳng cấp và tận hưởng dịch vụ hoàn hảo. Chúng tôi tin rằng bạn sẽ tìm thấy viên kim cương hoàn hảo của riêng mình tại đây.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area bg--dark-3 mt--40 mt-sm--30">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="about-text">
                                <h2 class="heading-secondary mb--40 mb-sm--30 text-center">
                                    Giá Trị
                                </h2>
                                <p class="mb--40 mb-sm--30">Tại Diamond Luxury, chúng tôi đề cao sự trung thực, đạo đức nghề nghiệp và tiêu chuẩn cao trong mọi hoạt động.</p>
                                <p class="mb--40 mb-sm--30">Chúng tôi cam kết phát triển cá nhân và nghề nghiệp của nhân viên thông qua việc không ngừng cải tiến, hướng đến sự hoàn hảo trong chất lượng sản phẩm và dịch vụ chăm sóc khách hàng.</p>
                                <p class="mb--40 mb-sm--30">Sự tận tâm và tôn trọng đối với khách hàng là giá trị cốt lõi của chúng tôi.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="img-box">
                        <img src="../assets/img/pic_product/about/hinh1.png" alt="about" style="margin: rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area bg--dark-3 mt--40 mt-sm--30">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6">
                    <div class="img-box">
                        <img src="../assets/img/pic_product/about/hinh2.png" alt="about" style="margin: rem;">
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="about-text">
                                <h2 class="heading-secondary mb--40 mb-sm--30 text-center">
                                    Tầm Nhìn
                                </h2>
                                <p class="mb--40 mb-sm--30">Diamond Luxury hướng đến mục tiêu trở thành thương hiệu kim cương và trang sức uy tín nhất Việt Nam.</p>
                                <p class="mb--40 mb-sm--30">Chúng tôi không ngừng phấn đấu để mang đến những sản phẩm kim cương đẳng cấp, cùng với dịch vụ hoàn hảo, nhằm xây dựng vị thế vững chắc trên thị trường và trong lòng khách hàng.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about-area bg--dark-3 mt--40 mt-sm--30">
        <div class="container-fluid p-0">
            <div class="row no-gutters align-items-center">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-10 offset-1">
                            <div class="about-text">
                                <h2 class="heading-secondary mb--40 mb-sm--30 text-center">
                                    Sứ Mệnh
                                </h2>
                                <p class="mb--40 mb-sm--30">Chúng tôi nỗ lực đạt được mục tiêu phát triển bền vững và mở rộng mạng lưới cửa hàng bán lẻ trên toàn quốc.</p>
                                <p class="mb--40 mb-sm--30">Diamond Luxury cam kết cung cấp dịch vụ khách hàng tốt nhất, xây dựng niềm tin và sự yêu mến từ phía khách hàng.</p>
                                <p class="mb--40 mb-sm--30">Chúng tôi luôn quan tâm đến việc đào tạo và phát triển toàn diện nguồn nhân lực, nhằm đảm bảo đội ngũ nhân viên chuyên nghiệp và tận tâm phục vụ khách hàng.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="img-box">
                        <img src="../assets/img/pic_product/about/hinh3.png" alt="about" style="margin: rem;">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
</div>