@using DiamondLuxurySolution.ViewModel.Models.Promotion
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="breadcrumb-area" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="page-title">Thông Tin Khuyến Mãi</h1>
                <h2>Tổng hợp những thông tin khuyến mãi</h2>
                <ul class="breadcrumb justify-content-center">
                    <li><a href="/Home/Index">Trang Chủ</a></li>
                    <li class="current"><a href="/Promotion/Index">Thông Tin Khuyến Mãi</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
@await Component.InvokeAsync("Promotion")
