.wrap-login100 {
    padding-top: 60px;
}

.login100-form {
    width: 369px;
}

.login100-form-title {
    margin: 25px 0;
}

@media (max-width: 992px) {
    .login100-pic .js-tilt {
        display: none;
    }
}